@import '../../../Styles/variables.module.scss';

.quesHeading {
  font-family: Arial;
  font-size: 16px;
  font-weight: 700;
  line-height: 23.92px;
  text-align: left;
  color: #00338d;
}

.addrowMargin{
  margin-top: 15px;
  margin-bottom: 15px;
}

.peeredit {
  margin: 0px 0 5px 10px;
}

.subheading {
  font-family: Arial;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  text-align: left;
  color: #00338d;
}

.companyName {
  font-family: Arial;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.33px;
  text-align: left;
  color: #00338d;
  padding: 10px;
}
.formSelect {
  width: 100%;
  height: 40px;
  font-family: $font-stack-primary !important;
  font-size: 14px !important;
}
.rowgap{
  display: flex;
  gap: 15px;
}
.paddingInput {
  padding: 8px;
  font-family: $font-stack-primary;
}
.pageCardPadding {
  padding: 20px;
}
.managePage {
  min-height: 550px;
  padding: 20px;
}
.resetRow {
  margin-top: 220px;
}

.dataNotFoundDesc {
  font-family: $font-stack-primary;
  font-size: 16px;
  font-weight: 500;
  color: $primary;
  text-align: center;
}

//admin styles

.selectItem {
  [class='ant-select-selection-item'] {
    background-color: #00338d !important; /* Customize background color */
    color: white; /* Customize text color */
    padding: 14px !important ; /* Customize padding */
    border-radius: 16px; /* Rounded corners */
    margin-right: 8px; /* Spacing between selected options */
    margin-bottom: 8px; /* Space from the bottom */
    display: flex;
    align-items: center;
    font-family: Arial;
    font-size: 16px !important;
  }

  [class='ant-select-selection-item-remove'] {
    margin-left: 8px;
    cursor: pointer;
    color: #ffffff !important; /* Set remove icon color */
  }
}

/* Style the remove icon inside each selected option */

.ant-select-selection-item-remove {
  margin-left: 8px;
  cursor: pointer;
  color: #ffffff; /* Set remove icon color */
}

/* Hover effect for the remove icon */

.ant-select-selection-item-remove:hover {
  color: #ff4d4f; /* Change color on hover */
}

// .dropdowncontainer {
//   width: full;
//   margin: 20px;
// }
.industryTitle {
  font-family: Arial;
  font-size: 16px;
  text-align: left;
  color: #333333;
}
.selected-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.selected-item {
  background-color: #0047ab;
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.remove-icon {
  margin-left: 8px;
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.subtitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.15%;
  color: #00338d;
  font-family: Arial;
}

.edit {
  background-color: #00338d;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 10px;
  align-items: center;
}

.editp {
  color: white;
  margin: 0px;
}

.removeIcon {
  cursor: pointer;
}
.addrow {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.companyItem {
  background-color: #003088;
  font-size: 16px !important;
  font-family: Arial;
  color: white;
  padding: 8px 16px;
  border-radius: 16px;
  text-align: center;
  display: inline-block;
  margin-right: 15px; /* Adjust spacing between items */
  margin-bottom: 15px; /* Adjust spacing between rows */
}

.editpsvg {
  margin: 0px 0 5px 10px;
}

.reportrow {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.reportdiv {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: 400;
  gap: 15px;
  font-family: Arial;
  margin-top: 45px;
}

.reporticon {
  cursor: pointer;
}

.dataPointItem {
  background-color: #003088;
  color: white;
  padding: 6px 12px;
  border-radius: 16px;
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 8px;
  font-family: Arial;
}

.viewMore {
  color: rgb(178, 175, 175);
  cursor: pointer;
  margin-left: 8px;
  font-size: 13px;
}

.greenSwitch {
  background-color: #269924 !important;
}

.rowsDiv {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 30px;
}

.rowsHeading {
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  text-align: left;
  color: #00338d;
}

.rowsSelect {
  width: 80px;
  margin-left: 10px;
}

.checkboxRow {
  margin-top: 30px;
}

.freportMargin{
 margin-right: 15px;
}

.checkboxGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.leftOutlined{
  margin-left: 30px;
}

.Questionback{
  background-color: #F5F5F5;
  padding: 9px;
  margin-right: 10px;
  border-radius: 6px;
}