.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #036323; 
  padding: 10px 15px;
  color: #fff;
  font-size: 16px; 
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.modalContent {
  padding-left: 14px; 
  font-size: 16px;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
