.RadioText {
    font-size: 16px;
    font-family: Arial;
    color: #383838;
    margin: 0px !important;
}

.QuestionairresText {
    font-size: 14px;
    font-family: Arial;
    color: #333333;
    margin: 0px !important;
    font-weight: 700;
    padding-bottom: 20px;
}

.QuestionairresBack {
    min-height: 60vh;
    padding: 20px;
    box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.25) !important;
    z-index: 3 !important;
    margin-top: 10px;
    border-radius: 6px;
    background: #fff;
    border: 1px solid #B6B3B2 !important;
}

.QuestionairresBtn {
    background: #00338D !important;
    color: #fff !important;
    width: 6rem !important;
    height: 2.3rem !important;
    font-size: 16px !important;
    font-family: Arial !important;
    font-weight: 700 !important;
}

.FinalPageHeading {
    color: #060606;
    font-size: 22px;
    font-weight: 700;
    font-family: Arial;
    padding-bottom: 15px;
}

.subText {
    color: #383838;
    font-size: 18px;
    font-weight: 400;
    font-family: Arial;
    line-height: 27.51px;
    letter-spacing: 0.5%;
}

.buttonRow {
    display: flex;
    justify-content: flex-end; // Equivalent to 'end'
    margin-top: 250px;
    gap: 15px;
}