.select {
   
    width: 100%;
    font-size: 16px !important;
    line-height: 24px !important;
    font-weight: 400 !important;
    border-radius: 8px !important;
    border: 1px solid #E7E7E6 !important;
    background-color: #FAF9FF !important;
    padding: 10px 3px;
    min-height: 51px !important;
    [class~=ant-select-dropdown], [class~=ant-select-item] {
        font-size: 16px !important;
        line-height: 24px !important;
        font-weight: 400 !important;
        background-color: red !important;
    }

    [class~=ant-select-selection-placeholder] {
        font-family: "Arial";
        color: #667085 !important;
        font-size: 16px !important;
        line-height: 24px !important;
        font-weight: 400 !important;
    }

    [class~=ant-select-selection-item] span {
        color: #101828 !important;
        font-size: 16px !important;
        line-height: 24px !important;
        font-weight: 400 !important;
    }

    &:hover,
    &:focus {
        border-color: #6077B4 !important; // Change the border color on hover and focus
    }
    &::selection {
        background-color: red !important;
    }
}

.selectErr {
    border: 1px solid #ff4d4f !important;
    &:hover,
    &:focus {
        border-color: #ff4d4f !important; // Change the border color on hover and focus
    }
}