.expandedRowContainer {
    box-shadow: 0px 0px 18.3px 1px #00000040;
    margin-block: 10px !important;
    background-color: #F9FAFB !important;
    min-height: 40px !important;
    max-height: 200px !important;
}

.rowStyles {
    margin-bottom: 20px !important;
}

.rowTabStyles {
    margin-bottom: 20px !important;
    padding: 10px !important;
}