.headerText {
  padding-top: 10px;
  font-size: 24px;
  color: #00338d;
  font-weight: 600;
  font-family: $font-stack-secondary;
}
.headerSubText {
  padding-top: 10px;
  padding-right: 5px;
  font-size: 20px;
  color: #969ba0;
  font-weight: 400;
  font-family: $font-stack-secondary;
  text-align: end;
  span {
    font-weight: 600;
    color: #040404;
  }
}
.BtnFilter {
  background: #00338d;
  color: #ffffff;
  padding: 1px 25px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 400;
  height: 6.6vh;
  img {
    padding-left: 10px;
  }
}
.BtnFilter:hover {
  background-color: #00338d !important;
  color: #ffffff !important;
  border: 1px solid #00338d !important;
}
