@import '../../../../src/Styles/variables.module.scss';

.countCardWrap {
  background-color: #f3f8ff;
  min-height: 80px;
  border: #333333;
  padding: 0px 15px;
  display: flex;
  align-items: center;
}

.countCardContent {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ant-tabs-nav {
  border-bottom: none !important;
}

.ant-tabs-ink-bar {
  display: none !important;
  /* This hides the ink bar */
}

.countCardTotal {
  font-size: 22px;
  font-family: $font-stack-primary;
  font-weight: 600;
  color: #333333;
  margin: 0;
}

.secondaryHeading {
  font-size: 22px;
  font-family: $font-stack-primary;
  font-weight: 400;
  color: #333333;
  margin: 0;
}

.headingDesc {
  font-size: 14px;
  font-family: $font-stack-primary;
  font-weight: 400;
  color: #767676;
}

.formTitle {
  font-size: 14px;
  font-family: $font-stack-primary;
  font-weight: 600;
  color: $primary;
}

.formSubTitle {
  font-size: 12px;
  font-family: $font-stack-primary;
  font-weight: 400;
  color: #344054;
  width: 100%;
  margin: 0;
}

.gendercategory {
  display: flex;
  gap: 14px;
}

.commentBox {
  width: 100%;
  border: 1px solid #e8e9eb;
  border-radius: 5px;
}

.infoIcon {
  font-size: 16px;
  margin-right: 8px;
  margin-left: 20px;
}

.updateBtnCol {
  text-align: right;
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: end;
}

.downloadFactor {
  cursor: pointer;
  display: flex;
  z-index: 9;
}

.flexInputs {
  display: flex;
  gap: 15px;
  //justify-content: space-between;
}

.flexInputs div {
  width: 50%;
}

.flexInputs input {
  width: 100%;
  height: 44px;
}

.facilityLabel {
  font-style: Arial;
  font-size: 14px;
  margin-top: 10px !important;
  margin-right: 5px !important;
}

.facilityDropdown {
  height: 44px;
  width: 200px;
  z-index: 99;
  margin-right: 15px;
}

.pageCardStyle {
  box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.25) !important;
  z-index: 3 !important;
  padding: 20px;
  margin-top: 10px;
  border-radius: 6px;
  border: 1px solid #B6B3B2 !important;
}

.boardMargin {
  padding: 0px 0px 15px 0px;
}

.customPaddingTop {
  padding-top: 15px;
}

.customPaddingRight {
  padding-right: 15px;
}

.employeeMargin {
  margin-top: -40px;
}

.plusButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 20px;
  height: 44px;
}

.employeeDrMargin {
  margin-top: -30px;
}

@media (min-width: 2560px) {
  .countCardWrap {
    height: 150px;
  }

  .countCardTitle {
    font-size: 22px;
    font-family: $primary;
    font-weight: 400;
    color: #767676;
  }

  .plusButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 20px;
    height: 44px;
  }

  .employeeMargin {
    margin-top: -40px;
  }

  .employeeDrMargin {
    margin-top: -30px;
  }
}

@media (min-width: 1921px) and (max-width: 2559px) {
  .countCardWrap {
    height: 120px;
  }

  .countCardTitle {
    font-size: 20px;
    font-family: $primary;
    font-weight: 400;
    color: #767676;
  }

  .cardMargin {
    margin-top: -30px !important;
  }

  .plusButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 20px;
    height: 44px;
  }

  .employeeMargin {
    margin-top: -40px;
  }

  .employeeDrMargin {
    margin-top: -30px;
  }
}

@media (min-width: 1601px) and (max-width: 1920px) {
  .countCardWrap {
    height: 90px;
  }

  .countCardTitle {
    font-size: 18px;
    font-family: $primary;
    font-weight: 400;
    color: #767676;
  }

  .cardMargin {
    margin-top: -30px !important;
  }

  .plusButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 18px;
    height: 44px;
  }

  .employeeMargin {
    margin-top: -40px;
  }

  .employeeDrMargin {
    margin-top: -30px;
  }
}

@media (min-width: 1201px) and (max-width: 1600px) {
  .countCardWrap {
    height: 100px;
  }

  .countCardTitle {
    font-size: 14px;
    font-family: $primary;
    font-weight: 400;
    color: #767676;
    text-transform: capitalize;
  }

  .cardMargin {
    margin-top: -30px !important;
  }

  .plusButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 18px;
    height: 44px;
  }

  .employeeMargin {
    margin-top: -40px;
  }

  .employeeDrMargin {
    margin-top: -30px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .countCardTitle {
    font-size: 14px;
    font-family: $primary;
    font-weight: 400;
    color: #767676;
  }

  .cardMargin {
    margin-top: -5px !important;
  }

  .plusButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 15px;
    height: 44px;
  }

  .employeeMargin {
    margin-top: 15px;
  }

  .employeeDrMargin {
    margin-top: 15px;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  .countCardTitle {
    font-size: 14px;
    font-family: $primary;
    font-weight: 400;
    color: #767676;
  }

  .plusButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 10px;
    height: 44px;
  }

  .employeeMargin {
    margin-top: 15px;
  }

  .employeeDrMargin {
    margin-top: 15px;
  }
}

@media (max-width: 768px) {
  .countCardTitle {
    font-size: 12px;
    font-family: $primary;
    font-weight: 400;
    color: #767676;
  }

  .plusButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 10px;
    height: 44px;
  }

  .employeeMargin {
    margin-top: 15px;
  }

  .employeeDrMargin {
    margin-top: 15px;
  }
}


.pdfButton {
  cursor: pointer;
  background: #fff;
  border-radius: 8px;
  padding: 10px;
  width: 45px !important;
  height: 45px !important;
  border: 1px solid #036323;
  z-index: 99;
}