@import './variables.module.scss';

* {
  font-family: $font-stack-primary;
}

*:focus {
  outline: none;
}

body {
  font-family: $font-stack-secondary;
}

.ant-tabs-top>.ant-tabs-nav::before,
.ant-tabs-top>div>.ant-tabs-nav::before {
  margin-bottom: 0;
  width: 70%;
}

.ant-tabs .ant-tabs-tab {
  padding: 0 10px 0px 10px !important;
}

.ant-tabs .ant-tabs-tab+.ant-tabs-tab {
  margin: 0 0 0 14px !important;
}

.buttonClass {
  background-color: $secondary;
  color: $white;
  font-family: $font-stack-secondary;
  font-size: 1vw;
  font-weight: 400;
  line-height: 2vh;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 25px;

  &:hover {
    background-color: $secondary !important;
    color: $white !important;
  }
}

ul.ant-pagination {
  justify-content: center !important;
  margin: 16px 0;
}

.cellWidth {
  text-wrap: nowrap;
}

th.ant-table-cell.col-center {
  text-align: center !important;
}

.ant-menu-submenu-title:active {
  background-color: #fff !important;
}

.error {
  color: red;
  font-weight: 400;
}

// .ant-menu-light .ant-menu-submenu-selected > .ant-menu-submenu-title > svg,
// .ant-menu-light
//   > .ant-menu
//   .ant-menu-submenu-selected
//   > .ant-menu-submenu-title
//   > svg {
//   color: #00338d !important;
//   border-radius: 4px !important;
// }

.ant-menu-light .ant-menu-submenu-selected>.ant-menu-submenu-title>svg {
  color: #0D304A !important;
}

.ant-menu-light .ant-menu-submenu-selected>.ant-menu-submenu-title>.ant-menu-title-content {
  color: #0D304A !important;
}

.ant-table-layout-fixed table {
  table-layout: auto;
}

.ant-menu-light .ant-menu-submenu-selected>.ant-menu-submenu-title,
.ant-menu-light>.ant-menu .ant-menu-submenu-selected>.ant-menu-submenu-title {
  background-color: #fff;
  color: #0D304A !important;
  border-radius: 4px !important;
}

// .ant-menu-submenu-active .ant-menu-submenu-title .ant-menu-title-content,
// .ant-menu-submenu-vertical span.ant-menu-title-content {
//   color: #000 !important;
// }

.ant-menu-title-content {
  font-size: 16px;
  color: #0D304A !important;
}

.ant-menu-light .ant-menu-item-selected,
.ant-menu-light>.ant-menu .ant-menu-item-selected {
  color: $primary;
  background-color: $primaryBg;
}

.primaryFont {
  font-family: $font-stack-primary !important;
}

.secondaryFont {
  font-family: $font-stack-secondary !important;
}

.c-00338d {
  color: $primary !important;
}

.c-040404 {
  color: #040404;
}

.c-fff {
  color: $white;
}

th.ant-table-cell.transformUnit {
  text-transform: math-auto;
}

.breadCrumbMain {
  color: #969ba0;
  font-size: 20px;
  font-family: $font-stack-secondary;

  span {
    color: $primary !important;
    font-size: 24px;
    font-family: $font-stack-secondary;
    font-weight: 700;
  }
}

.titletag {
  font-size: 20px;
  font-family: $font-stack-secondary;
  font-weight: 700;
}

.formLabel {
  color: #333333;
  font-size: 18px;
  font-weight: 400;
  font-family: $font-stack-secondary;
}

.breadTitle24 {
  font-size: 24px;
  font-family: $font-stack-secondary;
}

.breadTitle {
  font-size: 20px;
  font-family: $font-stack-secondary;
}

.scopeThreeForm th.ant-table-cell {
  text-align: left !important;
}

.ant-tabs-tab-disabled {
  opacity: 0.5;
  /* Example: Reduce opacity for disabled tabs */
  pointer-events: none;
  /* Example: Disable pointer events */
}

.primary-act-btn {
  border-radius: 8px !important;
  color: $primary !important;
  font-size: 16px !important;
  border: 1px solid $primary;
  height: 40px !important;
  font-weight: 400 !important;
  padding: 10px 20px;
  line-height: 1;
  display: flex;
  align-items: center;

  &:hover {
    color: $primary !important;
    border: 1px solid $primary;
  }

  span {
    font-family: $font-stack-secondary;
  }
}

.form_submit_btn {
  height: 45px;
  background-color: $primary;
  color: #fff;
  font-size: 16px;
  padding: 10px, 16px, 10px, 16px;
}

.secondary_btn {
  height: 45px;
  background-color: #fff;
  color: $primary;
  font-size: 16px;
  padding: 10px, 16px, 10px, 16px;
}

.form_submit_btn .form_submit_btn:hover {
  padding: 6px 24px !important;
  background: $primary !important;
  color: $white !important;
  font-size: 17px !important;
  height: 42px !important;
  font-weight: 400 !important;
  margin-left: 10px;
  font-family: $font-stack-secondary !important;
}

img.emissionImgs {
  height: 170px !important;
  width: 280px !important;
}

.carbonTable {
  width: 800px;
}

.carbonTable .ant-table-content {
  overflow: hidden !important;
}

.visible-hidden .ant-select-selection-item {
  visibility: hidden;
}

table {
  table-layout: auto !important;
  background: aliceblue;
}

.ant-table-summary {
  background: aliceblue !important;
}

table th {
  background-color: #e2e6f3;
}

td.ant-table-cell.ant-table-row-expand-icon-cell,
thead td.ant-table-cell.ant-table-cell-scrollbar {
  display: none;
}

.ant-table {
  max-width: 100%;
  overflow: auto;
}

.fit-content-column {
  white-space: nowrap;
}

.company_select {
  width: 200px;
  border-radius: 8px !important;
  color: $primary !important;
  font-size: 18px !important;
  // border: 1px solid $primary;
  font-weight: 400 !important;
  font-family: $font-stack-secondary;

  & .ant-select-selector {
    border: 1px solid $primary !important;
    color: $primary !important;

    &::after {
      color: $primary !important;
    }
  }
}

.tableHeading {
  color: #23456a;
  font-family: $font-stack-primary;
  font-size: 24px;
  font-weight: 600;
}

.CustomDate .ant-picker,
.SelectField .ant-select-selector {
  padding: 10px 20px !important;
  border-radius: 30px !important;
  cursor: pointer;
  color: #00b8f5;
  border-color: #00b8f5 !important;
  display: flex;
  height: 40px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.stepIconActive {

  .ant-image,
  .anticon-check {
    background-color: #036323;
    border-radius: 50%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
  }
}

.extraFields {
  color: $black;
  font-weight: 500 !important;
  height: 44px !important;
  font-size: 14px !important;
  line-height: 18px;
  padding: 12px !important;
  padding-left: 0 !important;
}

.suffixValue {
  color: $black;
  font-weight: 500 !important;
  height: 44px !important;
  font-size: 14px !important;
  line-height: 18px;
  padding: 12px !important;
}

.stepIconActive,
.stepIcon {
  .ant-image img {
    height: 20px;
    width: 20px;
  }
}

.stepIcon .ant-image {
  background-color: #f0f0f0;
  border-radius: 50%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formCard .ant-card-body {
  width: 80%;
  margin: 0px auto;
}

.mapUserColHead {
  color: #666666;
  font-size: 16px;
  font-weight: 500;
  font-family: $font-stack-secondary;
}

.procEmisslastUpdated {
  font-family: $font-stack-secondary;
  font-size: 22px;
  font-weight: 400;
  color: '#969BA0';

  span {
    color: #3b3a3a;
    font-size: 20px;
    font-weight: 500;
    font-family: $font-stack-secondary;
  }
}

.graphLegends {
  font-size: 16px;
}

.editable-cell-focused {
  outline: none;
  width: 100%;
  box-shadow: 0 0 0 2px #007bff;
  transition: box-shadow 0.2s ease;
  border-radius: 3px;
  padding: 0px 3px;
}

.carbonTable th.ant-table-cell.child-column,
.carbonTable td.ant-table-cell.child-column {
  text-align: center !important;
}

.tableSelectWidthUom {
  width: 100px !important;
}

.tableSelectWidth {
  width: 120px !important;
}

.materialWidth {
  width: 200px !important;
}

@media screen and (max-width: '1300px') {

  .form_reset,
  .form_submit {
    padding: 5px 15px !important;

    span {
      font-size: 16px;
    }
  }

  .titletag {
    font-size: 18px;
  }
}

@media screen and (max-width: '1200px') {
  .breadTitle {
    font-size: 16px;
  }

  .breadTitle24 {
    font-size: 18px;
  }

  .tableHeading {
    font-size: 20px;
  }

  .breadCrumbMain {
    font-size: 14px;

    span {
      font-size: 18px;
    }
  }

  .CustomDate .ant-picker,
  .SelectField .ant-select-selector {
    padding: 5px 10px;
  }

  .titletag {
    font-size: 18px;
  }

  .formLabel {
    font-size: 16px;
  }

  .titletag {
    font-size: 16px;
  }
}

@media screen and (max-width: '1024px') {
  .breadTitle {
    font-size: 14px;
  }

  .breadTitle24 {
    font-size: 16px;
  }

  .primary-act-btn {
    font-size: 12px !important;
    height: 30px !important;
    padding: 5px 15px;
  }

  .tableHeading {
    font-size: 16px;
  }

  .breadCrumbMain {
    font-size: 14px;

    span {
      font-size: 16px;
    }
  }

  .CustomDate .ant-picker,
  .SelectField .ant-select-selector {
    height: 35px !important;
  }

  .titletag {
    font-size: 16px;
  }

  .formLabel {
    font-size: 14px;
  }
}

.emission-form-label {
  color: #989898;
  font-family: $font-stack-primary;
  font-size: 15px;
  font-weight: 400;
  line-height: 18.96px;
  text-align: left;
  padding: 0 0 0.2rem 0.2rem;
}

.form_submit {
  color: $white;
  background-color: $primary;
  border-radius: 8px !important;
  font-size: 18px !important;
  border: 1px solid $primary;
  display: flex;
  align-items: center;
  font-weight: 400 !important;
  padding: 10px 15px;
  line-height: 1;
  font-family: $font-stack-secondary;

  &:hover {
    color: $white !important;
    background-color: $primary !important;
  }
}

.form_reset {
  color: $primary;
  border: 1px solid $primary;
  border-radius: 8px !important;
  font-size: 18px !important;
  border: 1px solid $primary;
  font-weight: 400 !important;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  line-height: 1;
  font-family: $font-stack-secondary;

  &:hover {
    color: $primary !important;
    border: 1px solid $primary !important;
  }
}

.input-otp__field {
  height: 45px !important;
}

.input-otp {
  justify-content: space-between !important;
}

.ant-steps-icon {
  background: transparent !important;
}

.targetRadio .ant-radio-wrapper span {
  color: #797979;
  font-family: $font-stack-secondary;
}

.targetRadio .ant-radio-wrapper-checked span {
  color: $primary;
}

.ant-tabs-tab {
  font-weight: 500 !important;
}

.ant-tabs-tab-active {
  font-weight: 700 !important;
}

.esgTabs .ant-tabs-tab-btn {
  font-family: $font-stack-primary;
  font-weight: 500;
  color: #989898;
}

.esgTabs .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: $primary;
}

.esgTabs .ant-tabs-nav-wrap {
  border-bottom: 1px solid #e1e1e1;
}

.pageTitle {
  color: #0D304A;
  line-height: 24px;
  margin: 0;
  font-size: 22px;
  font-family: $font-stack-primary;
  font-weight: 600;
  text-align: left;
}

.configSelectBox .ant-select-selector {
  font-family: $font-stack-secondary;
}

.menu-icon {
  margin-top: 0.5vw;
  margin-right: 0.3vw;
}

.userRoleTitles {
  font-family: $font-stack-primary;
  color: $primary;
  font-weight: 600;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}

.userRoleTitles span {
  background: $primary;
  color: #fff;
  border-radius: 50%;
  font-size: 14px;
  padding: 0px 7px;
  display: flex;
  align-items: center;
}

.userMapData,
.mapUserSelect .ant-select-selection-item-content {
  color: #666666;
  font-size: 16px;
  font-family: $font-stack-secondary;
  font-weight: 400;
}

.submitBtn {
  background: $primary !important;
  color: #fff !important;
  border: 1px solid $primary !important;
  width: 100%;
}

.benchmark ul.recharts-default-legend {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-family: $font-stack-primary;
  position: relative;
  bottom: 20px;
}

.benchmark ul.recharts-default-legend .recharts-legend-item-text {
  color: #333333 !important;
  font-size: 16px;
}

.benchmark {
  margin-top: 20px;
  /* Adjust the top margin to add space between the legend and the chart */
}

.reportCardTitle {
  font-size: 22px;
  color: #333333;
  font-family: $font-stack-primary;
  font-weight: 700;
}

.benchmark tspan {
  font-size: 16px;
  font-weight: 500;
  font-family: $font-stack-primary;
  color: #8a9099;
  position: relative;
  top: 20px;
}

.benchmark .recharts-cartesian-axis-tick-line {
  display: none;
}

.treamentDropdown .ant-select-selector,
.treamentDropdown .ant-select-selector:hover,
.treamentDropdown .ant-select-selector:focus {
  border: none !important;
  outline: none !important;
}

.tooltip-list {
  background-color: white;
  border: 1px solid #ccc;
  padding: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.legend-text {
  font-size: 12px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  color: #191d23;
  margin: 0 5px;
}

.eFSwitch .ant-switch.ant-switch-checked {
  background: #269924 !important;
}

.eFSwitch .ant-switch.ant-switch-checked:hover:not(.ant-switch-disabled) {
  background: #269924 !important;
}

button.ant-switch.eFSwitch.ant-switch-checked {
  background: #269924 !important;
}

.customFactorStyles .ant-form-item .ant-form-item-label>label {
  color: #00338d !important;
  font-size: 16px !important;
  //font-weight: 500 !important;
  line-height: 16px;
  margin-top: 10px;
}

.handleGraphEmptyData {
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  span {
    font-size: 18px;
    font-weight: 600;
    font-family: $font-stack-primary;
    color: $primary;
  }
}

.customFactorStyles .ant-col.ant-form-item-label {
  text-align: left;
  overflow: visible;
}

.customFactorStyles .ant-form-item-row {
  justify-content: space-between !important;
  // margin-bottom: 30px;
}

.customFactorStyles .ant-form-item .ant-form-item-label>label::after {
  content: none !important;
}

// reposive queries

@media (min-width: 1920px) and (max-width: 2560px) {
  .benchmark ul.recharts-default-legend .recharts-legend-item-text {
    font-size: 16px;
  }

  .reportCardTitle {
    font-size: 20px;
  }

  .benchmark tspan {
    font-size: 16px;
  }

  .procEmisslastUpdated {
    font-size: 20px;

    span {
      font-size: 18px;
    }
  }

  .graphLegends {
    font-size: 16px;
  }
}

@media (min-width: 1201px) and (max-width: 1600px) {
  .stepIconActive {

    .ant-image,
    .anticon-check {
      background-color: #036323;
      border-radius: 50%;
      padding: 0.5rem;
    }
  }

  .stepIconActive {
    .ant-image img {
      height: 20px;
      width: 20px;
    }
  }

  .targetRadio .ant-radio-wrapper span {
    font-size: 14px;
  }

  .esgTabs .ant-tabs-tab-btn {
    font-size: 16px;
  }

  .pageTitle {
    font-size: 16px;
    font-family: Arial;
    line-height: 24px;
    font-weight: 700;
  }

  .configSelectBox .ant-select-selector {
    font-size: 14px !important;
  }

  .primary-act-btn {
    font-size: 16px !important;
    height: 40px !important;
    padding: 5px 15px;
  }

  .ant-image .menu-logo {
    width: 100px;
    height: 100%;
  }

  .ant-image .menu-icon {
    width: 25px;
    height: 25px;
  }

  .userRoleTitles {
    font-family: $font-stack-primary;
    font-size: 16px;
  }

  .userRoleTitles span {
    font-size: 12px;
    padding: 1px 5px;
  }

  .mapUserColHead,
  .mapUserSelect .ant-select-selection-item-content {
    font-size: 14px;
  }

  .benchmark ul.recharts-default-legend .recharts-legend-item-text {
    font-size: 14px;
  }

  .reportCardTitle {
    font-size: 18px;
  }

  .benchmark tspan {
    font-size: 14px;
  }

  .procEmisslastUpdated {
    font-size: 18px;

    span {
      font-size: 16px;
    }
  }

  .graphLegends {
    font-size: 14px;
  }

  .nodata-image {
    width: 250px !important;
    height: 200px !important;
  }

  .nodata-heading {
    font-family: Arial;
    font-size: 28px;
    font-weight: 600;
    color: #1e49e2;
  }

  .nodata-subheading {
    font-family: Arial;
    font-size: 18px;
    font-weight: 400;
    color: #797979;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {

  .stepIconActive,
  .stepIcon {
    .ant-image img {
      height: 16px;
      width: 16px;
    }
  }

  .targetRadio .ant-radio-wrapper span {
    font-size: 12px;
  }

  .esgTabs .ant-tabs-tab-btn {
    font-size: 14px;
  }

  .pageTitle {
    font-size: 16px;
  }

  .configSelectBox .ant-select-selector {
    font-size: 12px !important;
  }

  .primary-act-btn {
    padding: 5px 10px;
    height: 30px !important;

    span {
      font-size: 12px;
    }
  }

  .ant-image .menu-logo {
    width: 80px;
  }

  .ant-image .menu-icon {
    width: 22px;
    height: 22px;
  }

  .userRoleTitles {
    font-size: 14px;
  }

  .userRoleTitles span {
    padding: 0px 5px;
    font-size: 11px;
  }

  .mapUserColHead,
  .userMapData {
    font-size: 14px;
  }

  .benchmark ul.recharts-default-legend .recharts-legend-item-text {
    font-size: 12px;
  }

  .reportCardTitle {
    font-size: 16px;
  }

  .benchmark tspan {
    font-size: 12px;
  }

  .procEmisslastUpdated {
    font-size: 16px;

    span {
      font-size: 14px;
    }
  }

  .graphLegends {
    font-size: 13px;
  }

  .nodata-image {
    width: 250px !important;
    height: 200px !important;
  }

  .nodata-heading {
    font-family: Arial;
    font-size: 28px;
    font-weight: 600;
    color: #1e49e2;
  }

  .nodata-subheading {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    color: #797979;
  }

  .customFactorStyles .ant-form-item .ant-form-item-label>label {
    font-size: 12px;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  .customFactorStyles .ant-form-item .ant-form-item-label>label {
    font-size: 12px !important;
  }

  .stepIconActive,
  .stepIcon {
    .ant-image img {
      height: 14px;
      width: 14px;
    }
  }

  .esgTabs .ant-tabs-tab-btn {
    font-size: 12px;
  }

  .targetRadio .ant-radio-wrapper span {
    font-size: 11px;
  }

  .pageTitle {
    font-size: 12px;
  }

  .primary-act-btn {
    padding: 4px 8px;

    span {
      font-size: 12px;
    }
  }

  .ant-image .menu-logo {
    width: 70px;
  }

  .ant-image .menu-icon {
    width: 20px;
    height: 20px;
  }

  .userRoleTitles {
    font-size: 12px;
  }

  .userRoleTitles span {
    padding: 0px 5px;
    font-size: 11px;
  }

  .mapUserColHead,
  .mapUserColHead,
  .userMapData {
    font-size: 13px;
  }

  .reportCardTitle {
    font-size: 15px;
  }

  .procEmisslastUpdated {
    font-size: 14px;

    span {
      font-size: 13px;
    }
  }

  .graphLegends {
    font-size: 12px;
  }

  .nodata-image {
    width: 250px !important;
    height: 200px !important;
  }

  .nodata-heading {
    font-family: Arial;
    font-size: 26px;
    font-weight: 600;
    color: #1e49e2;
  }

  .nodata-subheading {
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    color: #797979;
  }
}

@media (max-width: 769px) {
  .customFactorStyles .ant-form-item .ant-form-item-label>label {
    font-size: 11px !important;
  }

  .stepIconActive,
  .stepIcon {
    .ant-image img {
      height: 14px;
      width: 14px;
    }
  }

  .targetRadio .ant-radio-wrapper span,
  .esgTabs .ant-tabs-tab-btn {
    font-size: 10px;
  }

  .pageTitle {
    font-size: 14px;
  }

  .configSelectBox .ant-select-selector {
    font-size: 11px !important;
  }

  .pageTitle {
    font-size: 11px;
  }

  .nodata-image {
    width: 250px !important;
    height: 200px !important;
  }

  .nodata-heading {
    font-family: Arial;
    font-size: 26px;
    font-weight: 600;
    color: #1e49e2;
  }

  .nodata-subheading {
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    color: #797979;
  }
}

.custom-input:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background-color: $primary !important;
  color: fieldtext !important;
}

.disableSelectAll table thead .ant-table-selection {
  display: none;
}

.ant-select-selection-placeholder {
  font-weight: 400;
}

.cardonTotalStyle {
  color: $primary;
  font-family: $font-stack-secondary;
  font-weight: 500;
}

// .ant-table-wrapper
//   .ant-table-thead
//   > tr
//   > th:not(:last-child):not(.ant-table-selection-column):not(
//     .ant-table-row-expand-icon-cell
//   ):not([colspan])::before {
//   width: 0 !important;
// }

.carbonTable .ant-table table tbody tr:last-child {
  background: #e2e6f3 !important;
}

.carbonTable .ant-table table tbody tr:first-child {
  background: #f6fbfd !important;
}

.ant-table-filter-dropdown-btns button:last-child {
  color: #fff;
  background-color: #12348f;
  display: none;
}

.ant-table-filter-dropdown-btns button {
  color: #12348f;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #036323 !important;
  border-color: #036323 !important;
  width: 24px !important;
  height: 24px !important;
}

.ant-checkbox .ant-checkbox-inner {
  width: 24px !important;
  height: 24px !important;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner {
  border-color: #036323 !important; // change this to your desired color
}

.ant-table-wrapper .ant-table-filter-trigger.active {
  color: #12348f !important;
}

li.ant-menu-submenu.ant-menu-submenu-vertical:hover {
  background: none !important;
}

.history-heading {
  color: #00338d;
  font-family: Arial;
  font-size: 20px;
  font-weight: 700;
}

.history-role {
  margin-right: 0px;
  color: #00338d;
  font-size: 14px;

  font-weight: 500;
}

.nodata-image {
  width: 250px !important;
  height: 200px !important;
}

.nodata-heading {
  font-family: Arial;
  font-size: 28px;
  font-weight: 600;
  color: #1e49e2;
}

.nodata-subheading {
  font-family: Arial;
  font-size: 18px;
  font-weight: 400;
  color: #797979;
}

// added for changing the border color of the input when hovered
.ant-input-outlined {
  text-shadow: none;

  &:hover,
  &:focus {
    border-color: #036323 !important;
    text-shadow: none;
  }
}

//to change the color of selected number input which has country code

.ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector {

  &:hover,
  &:focus {
    border-color: #036323 !important;
    background-color: #fff !important;
  }
}

.ant-select-focused.ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {
  border-color: $primary !important;
  box-shadow: none !important;
}

textarea.ant-input {
  background-color: #FAF9FF !important;
  height: 50px !important;
  padding: 12px !important;

}

textarea.ant-input:hover {
  background-color: #FAF9FF !important;
  height: 50px !important;
  padding: 12px !important;

}

.anticon .anticon-down {
  color: #000 !important;
}


.col-title-transform {
  text-transform: none;
}

.ant-picker-dropdown {
  z-index: 9999999999;
}

// peer css
.peerTable {
  .ant-table thead tr:nth-child(2) .ant-table-cell {
    background-color: #B9CBBF !important;
    color: #333333 !important;
    height: 30px !important;
    font-family: Arial !important;
    font-size: 12px !important;
  }
}

// .peerTable {
//   .ant-table thead .ant-table-cell:nth-child(1) {
//     border-right: none !important;
//   }
// }

.scope-form-upload .ant-upload-list.ant-upload-list-text {
  display: flex;
}

.scope-form-upload .ant-upload-list-item-action {
  opacity: 1 !important;
}

// .scope-form-upload span.anticon.anticon-paper-clip{
//   display: none;
// }
// .scope-form-upload  .ant-upload-icon {
//   position: relative;
// }
// .scope-form-upload  .ant-upload-icon:after {
//   content: '';
//   display: block;
//   width: 16px;
//   height: 16px;
//   background-image: url('/assets/image/pdfImg.png');
//   background-size: contain;
//   background-repeat: no-repeat;
//   position: absolute;
//   top: 50%;
//   left: 100%;
//   transform: translateY(-50%);
//   margin-left: -8px;
// }

//scope 2 energy
.energy .ant-tabs-nav {
  width: 30% !important;
}

.emission .ant-tabs-nav {
  margin-top: 20px !important;
}

//employee
.employee .ant-tabs-nav {
  width: 70% !important;
}

//category 13 second tabs
.cat13SubTabs .ant-tabs>.ant-tabs-nav {
  width: 30% !important;
}


@media (min-width: 1920px) and (max-width: 2560px) {
  .employee .ant-tabs-nav {
    width: 70% !important;
  }

  .cat13SubTabs .ant-tabs-nav {
    width: 30% !important;
  }

  .energy .ant-tabs-nav {
    width: 30% !important;
  }

  .custom-tooltip-charts {
    font-size: 12px;
  }

}

@media (min-width: 1201px) and (max-width: 1600px) {
  .employee .ant-tabs-nav {
    width: 70% !important;
  }

  .cat13SubTabs .ant-tabs-nav {
    width: 30% !important;
  }

  .energy .ant-tabs-nav {
    width: 30% !important;
  }

  .custom-tooltip-charts {
    font-size: 10px;
  }

  // .emission .ant-tabs-nav {
  //   width: 74% !important;
  // }

}

@media (min-width: 992px) and (max-width: 1200px) {
  .employee .ant-tabs-nav {
    width: 80% !important;
  }

  .cat13SubTabs .ant-tabs-nav {
    width: 30% !important;
  }

  .energy .ant-tabs-nav {
    width: 30% !important;
  }

  .custom-tooltip-charts {
    font-size: 8px;
  }

  // .emission .ant-tabs-nav {
  //   width: 60% !important;
  // }
}

@media (min-width: 769px) and (max-width: 991px) {
  .legend-text {
    font-size: 10px !important;
  }

  .employee .ant-tabs-nav {
    width: 90% !important;
  }

  .cat13SubTabs .ant-tabs-nav {
    width: 40% !important;
  }

  .energy .ant-tabs-nav {
    width: 40% !important;
  }

  .custom-tooltip-charts {
    font-size: 8px;
  }

  // .emission .ant-tabs-nav {
  //   width: 50% !important;
  // }

}

@media (max-width: 768px) {
  .employee .ant-tabs-nav {
    width: 100% !important;
  }

  .cat13SubTabs .ant-tabs-nav {
    width: 50% !important;
  }

  .energy .ant-tabs-nav {
    width: 50% !important;
  }

  .custom-tooltip-charts {
    font-size: 8px;
  }


  // .emission .ant-tabs-nav {
  //   width: 50% !important;
  // }

}

.ant-modal .ant-modal-content {
  padding: 0px !important;
}

.ant-modal-close {
  color: #fff !important;
  margin-top: -5px !important;
}

.custom-modal .ant-modal-content {
  padding: 15px !important;
  /* Apply padding to the whole modal */
  border-radius: 8px;
  /* Optional: Add rounded corners for better aesthetics */
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #036323 !important;
  text-shadow: 0 0 0.25px currentcolor;
}

.ant-tabs-ink-bar {
  background: #036323 !important;
}

.ant-tabs .ant-tabs-tab:hover .ant-tabs-tab-btn {
  color: #036323 !important;
}

.ant-tabs-nav-list {
  background: #FAF9FF !important;
  padding: 12px !important;
  border-radius: 5px !important;
}

.ant-select-selector {
  border-color: #E7E7E6 !important;
  background-color: #FAF9FF !important;
  // height: 50px !important;
}

// .ant-input {
//   border-color: #E7E7E6 !important;
//   background-color: #FAF9FF !important;
//   height: 50px !important;
// }

// .ant-card.ant-card {
//   border: 1px solid #B6B3B2 !important;
// }

/* Increase radio circle size */
.custom-radio .ant-radio-inner {
  width: 22px;
  height: 22px;
}

.custom-radio .ant-radio-inner:hover {
  border-color: none !important;
}

.matSub .ant-select-selector {
  border: none !important;
}

.ant-picker.ant-picker-outlined {
  background-color: #FAF9FF !important;
  height: 50px !important;
}

.ant-btn.Enviroment_pdfButton__tu4M5:hover,
.ant-btn.Enviroment_pdfButton__tu4M5:focus,
.ant-btn.Enviroment_pdfButton__tu4M5:active,
.ant-btn.CountCard_pdfButton__8kvyT:hover,
.ant-btn.CountCard_pdfButton__8kvyT:focus,
.ant-btn.CountCard_pdfButton__8kvyT:active,
.ant-btn.scope3_pdfButton__vvAV3:hover,
.ant-btn.scope3_pdfButton__vvAV3:focus,
.ant-btn.scope3_pdfButton__vvAV3:active,
.ant-btn.Assessement_pdfButton__-tRZV:hover,
.ant-btn.Assessement_pdfButton__-tRZV:focus,
.ant-btn.Assessement_pdfButton__-tRZV:active,
.ant-btn.Peerbench_pdfButton__z2HNL:hover,
.ant-btn.Peerbench_pdfButton__z2HNL:focus,
.ant-btn.Peerbench_pdfButton__z2HNL:active,
.ant-btn.ViewAnalysis_pdfButton__tB2su:hover,
.ant-btn.ViewAnalysis_pdfButton__tB2su:focus,
.ant-btn.ViewAnalysis_pdfButton__tB2su:active,
.ant-btn.CustomEmissionFactor_pdfButton__dGixh:hover,
.ant-btn.CustomEmissionFactor_pdfButton__dGixh:focus,
.ant-btn.CustomEmissionFactor_pdfButton__dGixh:active {
  background-color: #fff !important;
  border: 1px solid #036323 !important;
  color: white !important;
  box-shadow: none !important;
}

/* If you're using global styles */
.ant-btn .ant-btn-loading-icon .anticon {
  color: #036323 !important;
  /* Replace with your desired color */
}

.matProgress .ant-progress.ant-progress-circle .ant-progress-inner {
  position: relative;
  line-height: 1;
  background-color: #E7EBF4;
}

.ant-input {
  border-color: #E7E7E6 !important;
  // background-color: #FAF9FF !important;
  // height: 50px !important;
}

.form-control {
  display: block !important;
  width: 100% !important;
  height: 50px !important;
  padding: 1rem .75rem !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  color: var(--bs-body-color) !important;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
}

.ant-col.ant-col-24.ant-form-item-label {
  margin-bottom: -10px !important;
}