@import "../../Styles/variables.module.scss";

.sider {
  height: 100%;
  border-radius: 0px 20px 20px 0px;
  overflow-y: auto; // ✅ Vertical scroll in the sidebar
  overflow-x: hidden;
  min-width: 230px !important;
  max-width: 230px !important;

  &[class~="ant-layout-sider-collapsed"] {
    min-width: 0 !important;
    max-width: auto !important;
  }
}

.content {
  background: transparent;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  background-color: rgba(250, 249, 255, 1) !important;
  z-index: 3;
}