@import "../../../../src/Styles/variables.module.scss";

.title {
  color: $primary;
  line-height: 24px;
  margin: 0;
  font-size: 20px;
  font-family: $font-stack-secondary;
  font-weight: 600;
  text-align: left;
}

.graphTitle {
  color: $primary;
  margin: 0;
  font-size: 18px;
  font-family: $font-stack-secondary;
  font-weight: 500;
  text-align: left;
}

.graphTitle2 {
  color: $primary;
  margin: 0;
  font-size: 28px;
  font-family: $font-stack-secondary;
  font-weight: 500;
  text-align: left;
}

.hrStyle {
  color: #c0c0c0;
}
.sup {
  vertical-align: super;
}
.effluentCards {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.treamentDropdown{
  width: 150px;
  float: right;
}

.targetInner{
  color: $primary;
  font-weight: 800;
  font-size: 22;
  display: inline;
}
.targetWrapper{
  margin-top:10px;
}

.pageCardStyle{
  box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.25) !important;
  z-index: 3 !important;
  margin-top: 10px;
}


