:where(.css-dev-only-do-not-override-1xg9z9n).ant-table-wrapper .ant-table-row-expand-icon-cell .ant-table-row-expand-icon {
    display: inline-flex;
    float: none;
    vertical-align: sub;
    display: none;
}

:where(.css-dev-only-do-not-override-1xg9z9n).ant-btn-default {
    background:none;
    border-color:none;
    color: #00338D;
    box-shadow: none;
}