.main {
  margin-bottom: 24px;
  padding: 16px;
  background-color: #bec7f7;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.text {
  font-size: 18px;
  color: #00338d;
}

.title {
  color: "#00338D";
  font-size: 26px;
}

@media (min-width: 1701px) and (max-width: 1920px) {
  .text {
    font-size: 16px;
  }
  .title { 
    font-size: 24px;
  }
}
@media (min-width: 1601px) and (max-width: 1700px) {
  .text {
    font-size: 14px;
  }
  .title { 
    font-size: 20px;
  }
}
@media (min-width: 1421px) and (max-width: 1600px) {
  .text {
    font-size: 13px;
  }
  .title { 
    font-size: 22px;
  }
}
@media (min-width: 1201px) and (max-width: 1420px) {
  .text {
    font-size: 12px;
  }
  .title { 
    font-size: 20px;
  }
}
@media (min-width: 1200px) and (max-width: 992px) {
  .text {
    font-size: 10px;
  }
  .title { 
    font-size: 18px;
  }
}
@media (min-width: 769px) and (max-width: 991px) {
  .text {
    font-size: 10px;
  }
  .title { 
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .text {
    font-size: 10px;
  }
  .title { 
    font-size: 14px;
  }
}
