
.xl-2.medium{
    display: flex;
    align-items: center;
    font-weight: 500;
    justify-items: center;
    font-size: 72px;
    line-height: 90px;
}

.xl-2.regular{
    display: flex;
    align-items: center;
    font-weight: 500;
    justify-items: center;
    font-size: 72px;
    line-height: 90px;
}

.xl-2.semibold{
    display: flex;
    align-items: center;
    font-weight: 600;
    justify-items: center;
    font-size: 72px;
    line-height: 90px;
}


.xl-2.bold{
    display: flex;
    align-items: center;
    font-weight: 700;
    justify-items: center;
    font-size: 72px;
    line-height: 90px;
}


.xl.regular{
    display: flex;
    align-items: center;
    font-weight: 400;
    justify-items: center;
    font-size: 60px;
    line-height: 72px;
}

.xl.medium{
    display: flex;
    align-items: center;
    font-weight: 500;
    justify-items: center;
    font-size: 60px;
    line-height: 72px;
}

.xl.bold{
    display: flex;
    align-items: center;
    font-weight: 700;
    justify-items: center;
    font-size: 60px;
    line-height: 72px;
}

.xl.semibold{
    display: flex;
    align-items: center;
    font-weight: 600;
    justify-items: center;
    font-size: 60px;
    line-height: 72px;
}


.lg.regular{
    display: flex;
    align-items: center;
    justify-items: center;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
}

.lg.medium{
    display: flex;
    align-items: center;
    justify-items: center;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
}

.lg.semibold{
    display: flex;
    align-items: center;
    justify-items: center;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
}

.lg.bold{
    display: flex;
    align-items: center;
    justify-items: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
}

.md.regular{
    display: flex;
    align-items: center;
    justify-items: center;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
}

.md.medium{
    display: flex;
    align-items: center;
    justify-items: center;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
}

.md.semibold{
    display: flex;
    align-items: center;
    justify-items: center;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
}

.md.bold{
    display: flex;
    align-items: center;
    justify-items: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
}

.sm.regular{
    display: flex;
    align-items: center;
    justify-items: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
}

.sm.medium{
    display: flex;
    align-items: center;
    justify-items: center;
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
}

.sm.semibold{
    display: flex;
    align-items: center;
    justify-items: center;
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
}

.sm.bold{
    display: flex;
    align-items: center;
    justify-items: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
}

.xs.regular{
    display: flex;
    align-items: center;
    justify-items: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}
.xs.medium{
    display: flex;
    align-items: center;
    justify-items: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}
.xs.semibold{
    display: flex;
    align-items: center;
    justify-items: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}
.xs.bold{
    display: flex;
    align-items: center;
    justify-items: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
}


