@import '../../../Styles/variables.module.scss';

.formBody {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 20%;
}

.customCard {
  border: none;
  height: 80vh;
}

.loginHeading {
  font-family: Arial;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  color: #120A08;
  text-align: left !important;
  margin-bottom: 5px;
}

.loginSubHeading {
  font-family: Arial;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #120A08 !important;
  margin-bottom: 10px;
}

.logoSubHeading {
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #00338d !important;
  margin-bottom: 5px;
}

.kpmgLogo {
  width: 110px;
  height: 50px;
  display: block;
  max-width: 100%;
  margin: 0;
  text-align: left !important;
}

.rowMargin {
  margin-bottom: 8px;
}

.frgpasswordRow {
  justify-content: end;
}

.buttonWidth {
  width: 100%;
  border-radius: 8px;
  background: #036323 !important;
  color: #ffffff !important;
  background: #f6fbfd;
  height: 50px;
}

.resetButtonRow {
  margin-top: 20px;
}

.signinButton {
  width: 120px;
  height: 50px;
  padding: 10px 20px;
  gap: 10px;
  border-radius: 8px;
  background: #036323 !important;
  color: #ffffff !important;
  margin: 10px;
  background: #f6fbfd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.loginTitle {
  margin-top: 1.2vh;
  color: $primary;
  font-family: Arial;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0em;
  text-align: center;
}

.loginSubText {
  margin-top: 2vh;
  color: $thirdColor;
  font-family: $font-stack-secondary;
  font-size: 0.9vw;
  font-weight: 400;
  line-height: 1vh;
  letter-spacing: 0em;
  text-align: center !important;

  span {
    color: $secondary;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.LoginButton {
  background-color: $primary !important;
  color: $white !important;
  font-family: $font-stack-secondary;
  font-size: 1vw;
  font-weight: 400;
  line-height: 2vh;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 25px;
  gap: 10px;

  &:hover {
    background-color: $primary !important;
    color: $white !important;
  }

  &:disabled {
    cursor: not-allowed;
    border-color: #d9d9d9;
    color: rgba(0, 0, 0, 0.25);
    background: rgba(0, 0, 0, 0.04);
    box-shadow: none;
  }
}

.guestButton {
  border: 1px solid $secondary;
  color: $secondary;
  font-family: $font-stack-secondary;
  font-size: 1vw;
  font-weight: 500;
  line-height: 2vh;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 25px;
  gap: 10px;

  &:hover {
    background-color: $secondary !important;
    color: $white !important;
  }
}

.forgotPswd {
  font-family: Arial;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #036323;
  z-index: 99 !important;
}

.forgotPswd:hover {
  color: #153D23 !important;
}

.formlabel {
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #413B39;
}

.inputOtp {
  margin: 5px;
}

@media (min-width: 1701px) and (max-width: 1920px) {
  .loginTitle {
    font-size: 32px;
  }
}

@media (min-width: 1601px) and (max-width: 1700px) {
  .loginTitle {
    font-size: 30px;
  }
}

@media (min-width: 1421px) and (max-width: 1600px) {
  .loginTitle {
    font-size: 24px;
  }
}

@media (min-width: 1201px) and (max-width: 1420px) {
  .loginTitle {
    font-size: 20px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .loginTitle {
    font-size: 20px;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  .loginTitle {
    font-size: 18px;
  }
}


.verifyotpImage {
  width: 80px !important;
  height: 80px !important;
}


.background {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #0000001a;
}

.companyCard {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(8px);
  padding: 1vh;
  border: 1px solid #ffffff1a;
  border-radius: 1rem;
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: 'center';
  align-items: center;
}

.notificationCard {
  background-color: rgba(255, 255, 255, 0.196);
  backdrop-filter: blur(8px);
  padding: 1vh;
  border: 1px solid #ffffff1a;
  border-radius: 1rem;
  width: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: 'center';
  align-items: center;

  [class~='ant-card-body'] {
    width: 100% !important;
  }
}

.selectedCompanyCard {
  background-color: $primary;
  padding: 1vh;
  border: 1px solid #ffffff1a;
  border-radius: 1rem;
  width: 25vw;
  display: flex;
  flex-direction: column;
}

.rowNotification {
  width: 100% !important;
}

.cardTitle {
  font-family: Arial;
  font-weight: 700;
  font-size: 20px;
  color: white;
  margin-top: 2vh;
  text-align: center;
}

.cardDesc {
  font-family: Arial;
  font-weight: 400;
  font-size: 12px;
  color: white;
  word-break: normal;
  text-align: center;
}

.cardDesc2 {
  font-family: Arial;
  font-weight: 400;
  font-size: 12px;
  color: white;
  word-break: normal;
  margin-top: 10px;
  margin-left: 10px;
  text-align: center;
}

.formBody2 {
  background-color: transparent;
  border-radius: 16px;
  width: 100%;
  height: 60vh;
}

.customCard2 {
  border: none;
  margin-top: 10vh;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 50vh;
  width: 80vw;
}

.loginTitle2 {
  color: white;
  font-family: Arial;
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0em;
  text-align: center;
}

.loginSubTitle {
  margin-top: 1.2vh;
  color: white;
  font-family: Arial;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0em;
  text-align: center;
}

.pageCard {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.pageCardNotify {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: end;
  justify-content: end;
  flex-direction: column;
  width: 100vw;
}

.container {
  padding: 20px;
  width: 40%;
  margin: 0 auto;
  border-radius: 8px;
  font-family: Arial;
}

.outer {
  background-color: #0000001a;
  z-index: 10;
}

.head {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: white;
  font-family: 'Arial';
}

.notificationList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #ffffff33;
  background-color: #ffffff1a;
  padding: 20px;
  border-radius: 20px;
  color: white;
}

.notification {
  border: 1px solid #00000033;
  border-radius: 8px;
  background-color: #11020226;
  opacity: 1;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: column;
}

.notificationCompanyList {
  box-shadow: 0px 2px 18px 0px #0000001A !important;
  border-radius: 8px;
  background-color: #fff;
  opacity: 1;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  width: 35vw;
}

.notificationCompanyListMore {
  border: 1px solid #00000033;
  border-radius: 0px 0px 8px 8px;
  background-color: #11020226;
  opacity: 1;
  display: flex;
  justify-content: center;
  width: 35vw;
  margin-left: 6%;
  height: 10px;
}

.notificationHeader {
  font-weight: bold;
  font-size: 13px;
  color: Black;
}

.notificationText {
  margin: 0;
  font-size: 11px;
  padding: 0;
  font-weight: 300;
  color: #605B5A;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  height: 25px;
  font-size: 10px;
}

.acceptButton,
.declineButton {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
}

.acceptButton {
  background-color: transparent;
  color: white;
}

.declineButton {
  background-color: transparent;
  color: white;
}

.acceptButton {
  background-color: #12348f;
  color: white;
}

.closeButton {
  margin-right: 10px;
  cursor: pointer;
}

.combine {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.background {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 9;
  background-color: #0000001a;
}

.video {
  position: absolute;
  z-index: -9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #0000001a;
}

.logoutMain {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.logoutSubDiv {
  position: absolute;
  margin-top: 10px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.logoutIcon {
  color: #fff;
  width: 30px;
  height: 30px;
}

.logoutText {
  color: #fff;
  font-family: Arial;
  cursor: pointer;
}

.topLeftImage {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
  width: 10vw;
  height: auto;
}

.bottomRightImage {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
  height: auto;
}

.topLeftImage {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
  width: 8vw;
  height: auto;
}

.bottomRightImage {
  position: absolute;
  right: 2% !important;
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
  height: auto;
}

.Text1 {
  color: white;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 33px;
  font-weight: 700;
  fill: white;
}

.Text2 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  fill: white;
}

.Text3 {
  color: white;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 33px;
  font-weight: 400;
  fill: white;
}

@media (min-width: 2560px) {
  .bottomRightImage {
    position: absolute;
    right: 10%;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
  }

  .Text1 {
    color: white;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 43px;
    font-weight: 700;
    fill: white;
  }

  .Text2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    line-height: 36px;
    font-weight: 700;
    fill: white;
  }

  .Text3 {
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 43px;
    font-weight: 400;
    fill: white;
  }
}

@media (min-width: 1921px) and (max-width: 2559px) {
  .bottomRightImage {
    position: absolute;
    right: 10%;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
  }

  .Text1 {
    color: white;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 43px;
    font-weight: 700;
    fill: white;
  }

  .Text2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    line-height: 36px;
    font-weight: 700;
    fill: white;
  }

  .Text3 {
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 43px;
    font-weight: 400;
    fill: white;
  }
}

@media (min-width: 1601px) and (max-width: 1920px) {
  .bottomRightImage {
    position: absolute;
    right: 10%;
    margin: 20px;
    width: 18vw;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
  }

  .Text1 {
    color: white;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 43px;
    font-weight: 700;
    fill: white;
  }

  .Text2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    line-height: 36px;
    font-weight: 700;
    fill: white;
  }

  .Text3 {
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 43px;
    font-weight: 400;
    fill: white;
  }
}

@media (min-width: 1201px) and (max-width: 1600px) {
  .bottomRightImage {
    position: absolute;
    right: 10%;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
  }

  .Text1 {
    color: white;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 33px;
    font-weight: 700;
    fill: white;
  }

  .Text2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    fill: white;
  }

  .Text3 {
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 33px;
    font-weight: 400;
    fill: white;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .bottomRightImage {
    position: absolute;
    right: 10%;
    margin: 20px;
    width: 18vw;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
  }

  .Text1 {
    color: white;
    font-size: 33px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 33px;
    font-weight: 700;
    fill: white;
  }

  .Text2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 33px;
    line-height: 36px;
    font-weight: 700;
    fill: white;
  }

  .Text3 {
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 43px;
    font-weight: 400;
    fill: white;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  .bottomRightImage {
    position: absolute;
    right: 10%;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
  }

  .Text1 {
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 43px;
    font-weight: 700;
    fill: white;
  }

  .Text2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    fill: white;
  }

  .Text3 {
    color: white;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 43px;
    font-weight: 400;
    fill: white;
  }
}

@media (max-width: 768px) {
  .bottomRightImage {
    position: absolute;
    right: 10%;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
  }

  .Text1 {
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 43px;
    font-weight: 700;
    fill: white;
  }

  .Text2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    line-height: 36px;
    font-weight: 700;
    fill: white;
  }

  .Text3 {
    color: white;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 43px;
    font-weight: 400;
    fill: white;
  }
}

.backgroundColor {
  background: rgba(0, 0, 0, 0.4);
  padding: 5px 10px;
  border-radius: 2px;
}

.newCompanySelected {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 36vw;
  background-color: $primary;
  padding: 10px;
  border: 1px solid #ffffff1a;
}

.newCompanyUnselected {
  border: 1px solid #ffffff1a;
  border-radius: 8px;
  background-color: transparent;
  backdrop-filter: blur(8px);
  padding: 10px;
  display: flex;
  flex-direction: column;


}

.companyCardNew {
  border: 1px solid #ffffff1a;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(8px);
  max-height: 55vh;
  overflow: auto;
  width: 38%;
  margin: auto;
  padding: 10px;
}

.cardTitleCompany {
  font-family: Arial;
  font-weight: 700;
  font-size: 20px;
  color: white;
  text-align: center;
}

.loginDontText {
  font-family: Arial;
  font-size: 12px;
  font-weight: 400;
  color: #413B39;
}