@import '../../../Styles/variables.module.scss';

.customBorderRadius15 {
  border-radius: 15px;
}

.customfontsize21 {
  font-size: 21px;
}

.customfontsize17 {
  font-size: 17px;
}

.customTextColorGrey {
  color: #8c8c8c;
}

.globeImgDimension {
  width: 470px;
  height: 450px;
}

.w50 {
  width: 50%;
}

.fontSize36 {
  font-size: 36px;
}

.primeColor {
  color: #0D304A;
}

.lineHeight20 {
  line-height: 20px;
}

.lineHeight25 {
  line-height: 25px;
}

.lineHeight28 {
  line-height: 28px;
}

.lineHeight40 {
  line-height: 40px;
}

.w30 {
  width: 30%;
}

.padding10 {
  padding: 8px;
}

.borderRadius5 {
  border-radius: 5px;
  padding: 5px;
  height: 75px;
}

.w25vw {
  width: 25vw;
}

.paddingCustomTwo {
  padding: 5px 20px 20px 20px;
}

.font26 {
  font-size: 26px;
}

.height50 {
  height: 50px;
}

.positionRelative {
  position: relative;
}

.cursorPointer {
  cursor: pointer;
}

.padding20 {
  padding: 20px;
}

.w63vw {
  width: 63vw;
}

.customTextDark {
  color: #060606;
}

.customFontSize15 {
  font-size: 16px;
}

.customMargin60 {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}

.customBoxShadow {
  box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.13);
  border: 1px solid #B6B3B2 !important;
}

.customBoxBorder {
  border: 1px solid #B6B3B2 !important;
}

.customBorderBottomGrey {
  border-bottom: 1px solid rgba(128, 128, 128, 0.271);
}

.customPaddingOne {
  padding: 15px 0px;
}

.font-family-esg-maturity {
  font-family: Arial;
}

.customMargin25 {
  margin-bottom: 25px;
  margin-top: 25px;
}

.customWidth90 {
  width: 90vw;
}

.cardIcon {
  color: #036323 !important;
  transition: color 0.3s ease;
}

.cardIconBg:hover .cardIcon {
  color: #fff !important;
}

.cardIconBg:hover .cardIcon {
  color: #fff !important;
}

.cardIconBg {
  background-color: #fff;
  transition: color 0.3s ease;
  border: none !important;
}

.cardIconBg:hover {
  background-color: #036323 !important;
}

.cardIconBgActive {
  background-color: #036323 !important;
}

.cardIconBgInner {
  background-color: #fff;
  transition: color 0.3s ease;
}

.cardIconBg:hover .cardIconBgInner {
  background-color: #036323 !important;
}

.cardIconBgInnerActive {
  background-color: #036323 !important;
  color: #fff;
}

.startBtnAss,
.startBtnAss:hover {
  background-color: #036323 !important;
  color: #fff !important;
  font-family: 'Noto Sans', sans-serif !important;
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 24.52px;
  opacity: 0.9;
  width: 400px;
  gap: 10px;
  border-radius: 8px;
  border-color: #036323 !important;
}

.cardIconFont {
  color: #036323;
  transition: color 0.3s ease;
}

.cardIconBg:hover .cardIconFont {
  color: #ffffff !important;
}

.cardIconFontActive {
  color: #fff !important;
}

.prioritylevelcontainer {
  border: 1px solid #d3e0ea;
  border-radius: 8px;
  padding: 16px;
  width: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
  font-family: Arial;
  font-size: 21px;
  font-weight: 700;
  line-height: 24.15px;
  letter-spacing: 0.0015em;
  text-align: left;
  color: #8c8c8c;
  margin-top: 10px;
}

.PrioritySubTitleLow {
  font-family: Arial;
  font-size: 17px;
  font-weight: 700;
  line-height: 24.15px;
  letter-spacing: 0.0015em;
  text-align: right;
  color: #036323;
  margin-top: 5px;
}

.PrioritySubTitleHigh {
  font-family: Arial;
  font-size: 17px;
  font-weight: 700;
  line-height: 24.15px;
  letter-spacing: 0.0015em;
  text-align: right;
  color: #E11515;
  margin-top: 5px;
}

.PrioritySubTitleMedium {
  font-family: Arial;
  font-size: 17px;
  font-weight: 700;
  line-height: 24.15px;
  letter-spacing: 0.0015em;
  text-align: right;
  color: #FF9012;
  margin-top: 5px;
}

.proTitle {
  font-family: Arial;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.25px;
  color: #413B39;
}

.priorityitem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.priorityRow {
  display: flex;
  gap: 1rem; // Adjust spacing as needed
  margin-top: 0.5rem;
}

.icon {
  font-size: 20px;
}

.high {
  color: red;
}

.medium {
  color: orange;
}

.low {
  color: green;
}

.prioritiesBorder {
  width: Fill (315px) px;
  height: Hug (46px) px;
  gap: 0px;
  border: 0px 0px 1px 0px;
  opacity: 0px;
  border-bottom: 1px solid #e6e6e6;
}

.file-upload-container {
  width: 100%;
  height: 440px;
  overflow: auto;
}

.upload-box {
  // background-color: #fff;
}

.titleUpload {
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.55px;
  letter-spacing: 0.0015em;
  text-align: left;
  color: #413B39;
}

.SubTextUpload {
  //styleName: Caption;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 14.95px;
  letter-spacing: 0.004em;
  text-align: left;
  color: #120A08;
}

.input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #d3d3d3;
}

.dragger {
  width: Fill (323px) px !important;
  height: Hug (133px) px !important;
  padding: 16px 360px 16px 360px !important;
  gap: 10px !important;
  border-radius: 16px !important;
  border: 2px 0px 0px 0px !important;
  // opacity: 0px;
  border-color: #b2b2b2 !important;
}

.dragger:hover {
  border-color: #1890ff;
}

.file-list {
  // margin-top: 16px;
}

.file-item {
  padding: 8px;
}

.file-item:last-child {
  border-bottom: none;
}

.ant-upload-text {
  font-family: Arial;
  font-size: 16px;
  font-weight: 600;
  line-height: 5.25px;
  letter-spacing: 0.001em;
  text-align: center;
  color: #120A08;
}

.ant-upload-hint {
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 5.95px;
  letter-spacing: 0.004em;
  text-align: center;
  color: #7b7a8c;
}

.ant-upload-hint2 {
  font-family: Arial;
  font-size: 11px;
  font-weight: 400;
  line-height: 5.65px;
  letter-spacing: 0.015em;
  text-align: center;
  color: #1e49e2;
}

.pdfUpoadedName {
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 17.25px;
  margin-bottom: 6px !important;
  letter-spacing: 0.0025em;
  text-align: left;
  color: #060606;
}

.pdfUpoadedValue {
  //styleName: Caption;
  font-family: Arial;
  font-size: 13px;
  font-weight: 400;
  line-height: 5.95px;
  letter-spacing: 0.004em;
  text-align: left;
  color: #585858;
}

.cursorSty {
  cursor: pointer;
}

.RadioTextSty {
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 27.51px;
  letter-spacing: 0.005em;
  text-align: left;
  color: #383838;
}

.RadioTextNumerSty {
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 27.51px;
  letter-spacing: 0.005em;
  text-align: center;
  color: #383838;
}

.RadioBtnHeader {
  font-family: Arial;
  font-size: 18px;
  font-weight: 700;
  line-height: 20.7px;
  letter-spacing: 0.0015em;
  text-align: left;
  color: #0D304A;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  width: 250px;
  /* Sidebar width */
  background-color: #f8f9fa;
  /* Background color */
  padding: 10px;
  /* Padding around the sections */
}

.sidebar-section {
  margin-bottom: 20px;
  /* Space between sections */
}

.sidebar-section h3 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
  /* Title text color */
}

.file-list {
  max-height: 570px;
  /* Limit height if you want a scrollable section */
  overflow-y: hidden;
  /* Scrollbar for long lists */
  // padding: 5px;
}

.file-item {
  background-color: white;
  /* Ensure items are distinct */
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  /* Optional shadow effect */
}

.statusBadge {
  padding: 6px;
  display: flex;
  align-items: center;
  font-size: 13px;
  // justify-content: center;
}

.excalmationB {
  font-size: 20px;
  color: #ff0000;
  margin-bottom: 5px;
}

@media (min-width: 1601px) and (max-width: 1920px) {
  .ant-upload-text {
    font-size: 15px;
  }

  .ant-upload-hint2 {
    font-size: 11px !important;
  }
}

@media (min-width: 1201px) and (max-width: 1600px) {
  .ant-upload-text {
    font-size: 14px;
  }

  .ant-upload-hint2 {
    font-size: 9px !important;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .ant-upload-text {
    font-size: 14px;
  }

  .ant-upload-hint2 {
    font-size: 9px;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  .ant-upload-text {
    font-size: 14px;
  }

  .ant-upload-hint2 {
    font-size: 9px;
  }
}

@media (max-width: 768px) {
  .ant-upload-text {
    font-size: 14px;
  }

  .ant-upload-hint2 {
    font-size: 9px;
  }
}

.subPageHeading {
  font-family: Arial;
  font-weight: 600;
  font-size: 16px;
  color: #120A08;
  margin-bottom: 20px;
}