@import '../../Styles/variables.module.scss';

// .sider {
//   background: #0D304A !important;
//   //background-color: #1e49e2  !important;
//   z-index: 99;
//   overflow-y: hidden;
//   padding: 0px;
// }

.switch {
  font-size: 1vw;
}

.sider {
  background: #0D304A !important;
  z-index: 99;
  padding: 0px;
  height: 100%;
  overflow-y: auto;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.12);
  transition: width 0.3s ease !important;

  &.ant-layout-sider-collapsed {
    width: 100px !important;
    background: #0D304A !important;
  }

  // Menu styling inside the sider
  .ant-menu {
    background: #0D304A !important;
    overflow: hidden;

    .ant-menu-title-content {
      text-align: center !important;
      margin-right: 10px !important;
      color: #fff !important;
    }

    .ant-menu-item,
    .ant-menu-submenu {
      color: #fff !important;
      border-radius: 0px !important;
      font-family: $font-stack-secondary !important;

      &:hover {
        background-color: #eaedfd !important;
        color: #0D304A !important;

        .ant-menu-title-content {
          color: #0D304A !important;
        }
      }

      .ant-menu-submenu-title {
        padding: 10px !important;
        color: #fff !important;
        border-radius: 4px !important;

        &:hover {
          background-color: #eaedfd !important;
          color: #0D304A !important;

          .ant-menu-title-content {
            color: #0D304A !important;
          }
        }
      }
    }

    .ant-menu-item-selected {
      color: #0D304A !important;
    }

    .ant-menu-item {
      margin: 3px;
      border-radius: 4px !important;
      height: 10vh !important;
      width: 93px;
    }

    .ant-menu-submenu:hover {
      background-color: #fff !important;
    }
  }
}

.sider ::-webkit-scrollbar-thumb {
  background-color: #0D304A !important;
  outline: 1px solid #fff;
  /* visibility: hidden; */
}

.sider .ant-menu-light {
  // background: #7213EA1F !important;
  color: #5c5864 !important;
  font-weight: 600;
}

.sider .ant-menu-sub.ant-menu-inline {
  // background-color: #5C5864 !important;
  color: black;
}

// .sider .ant-menu .ant-menu-item-selected {
//   background-color: #eaae8a !important;
//   color: #ffffff;
//   border-radius: 0px;
// }
// .sider .ant-menu-item:hover {
//   background-color: #eaae8a !important;
//   color: #ffffff !important;
//   border-radius: 0px;
// }

.chatbot {
  cursor: pointer;

  & .chatImage {
    width: 12rem;
  }
}

@media (min-width: 1201px) and (max-width: 1600px) {

  .sider [class~='ant-menu-item'],
  [class~='ant-menu-submenu'],
  [class~='.ant-menu-submenu-selected'],
  [class~='ant-menu-submenu-title'] {
    font-size: 16px;
  }

  .sider {
    width: 18vw;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {

  .sider [class~='ant-menu-item'],
  [class~='ant-menu-submenu'],
  [class~='.ant-menu-submenu-selected'],
  [class~='ant-menu-submenu-title'] {
    font-size: 14px;
  }

  .sider {
    width: 22vw;
    max-width: 220px;
  }
}

@media (min-width: 769px) and (max-width: 991px) {

  .sider [class~='ant-menu-item'],
  [class~='ant-menu-submenu'],
  [class~='.ant-menu-submenu-selected'],
  [class~='ant-menu-submenu-title'] {
    font-size: 12px;
  }
}

@media (max-width: 768px) {

  .sider [class~='ant-menu-item'],
  [class~='ant-menu-submenu'],
  [class~='.ant-menu-submenu-selected'],
  [class~='ant-menu-submenu-title'] {
    font-size: 12px;
  }
}

.sider.ant-layout-sider-collapsed {
  .ant-menu {

    .ant-menu-item,
    .ant-menu-submenu {
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      padding: 0 !important;
      margin: 6px 0 !important;
      height: 48px !important; // consistent height
      width: 100% !important;

      .anticon {
        font-size: 20px;
        margin: 0 !important; // remove inconsistent spacing
      }

      .ant-menu-title-content {
        display: none !important;
      }
    }
  }
}