/* ResponsiveHeader.module.css */

.header {
    background-color: #001529;
  }
  
  .MainWrapper {
    padding: 0 10px;
  }
  
  .searchWrap {
    display: flex;
    align-items: center;
  }
  
  .searchIcon {
    color: rgba(255, 255, 255, 0.65);
  }
  
  .menu-icon {
    display: block;
  }
  
  .menu {
    display: none;
  }
  
  .menu.open {
    display: block;
  }
  
  @media (max-width: 767px) {
    .menu-icon {
      display: block;
    }
  
    .menu {
      display: none;
    }
  
    .searchWrap {
      margin-bottom: 20px; /* Adjust spacing between search and menu button for small screens */
    }
  }
  