@import '../../Styles/variables.module.scss';

.selectHeading {
  font-family: Arial;
  font-size: 16px;
  font-weight: 700;
  line-height: 23.92px;
  text-align: left;
  color: #0D304A;
  margin-bottom: 5px;
}

.formSelect {
  width: 100%;
  height: 50px;
  font-family: $font-stack-primary !important;
  font-size: 14px !important;
}

.divContainer {
  display: flex;
  align-items: center;
  /* Aligns the icon and text vertically in the center */
  width: 100%;
  height: 100px;
  background-color: #fff;
  transition: color 0.3s ease;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #E9EEEA;
}

.hoveredDiv {
  display: flex;
  align-items: center;
  /* Aligns the icon and text vertically in the center */
  width: 100%;
  height: 100px;
  background-color: #036323;
  transition: color 0.3s ease;
  border-radius: 10px;
  padding: 10px;
}

.divHeading {
  font-size: 26px;
  color: #036323;
  font-weight: 500;
  margin-left: 5px;
  margin-top: 5px;
}

.hoveredHeading {
  font-size: 26px;
  color: #fff;
  font-weight: 500;
  margin-left: 5px;
  margin-top: 5px;
}

.linksDiv {
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #D3D3D3;
  padding: 5px;
}

.linkText {
  cursor: pointer;
  font-size: 16px;
  color: #808080;
}

.subLinkText {
  cursor: pointer;
  font-size: 16px;
  color: #434242;
  margin-left: 10px;
}

.subLinkText2 {
  cursor: pointer;
  font-size: 16px;
  color: #171717;
  margin-left: 20px;
}

.cardIconBgInnerHover {
  background-color: #184fb0;
  transition: color 0.3s ease;
  padding: 5px;
  border-radius: 5px;
}

.cardIconBgInner {
  background-color: #c3d9ff;
  transition: color 0.3s ease;
  padding: 5px;
  border-radius: 5px;
}

.iconAndHeadingWrapper {
  display: flex;
  flex-direction: column;
  align-items: center; // optional, centers icon and text
  margin-top: 20px;
}

.pageCardStyle {
  box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.25) !important;
  z-index: 3 !important;
  padding: 20px;
  margin-top: 10px;
  border-radius: 6px;
  border: 1px solid #B6B3B2 !important;
}

.IconColor {
  color: #036323;
}