.headerText{
    padding-top: 10px;
    font-size: 24px ;
    color: #00338D;
    font-weight: 600;
    font-family: 'Rubik';
    margin-bottom: 0;
}
.headerSubText{
    padding-top: 10px;
    padding-right: 5px;
    font-size: 20px;
    color: #969BA0;
    font-weight: 400;
    font-family: 'Rubik';
    text-align: end;
    margin-bottom: 0;
    span{
        font-weight: 600;
        color: #040404;
    }
}
.BtnFilter{
    background: #00338D;
    color: #ffffff;   
    border-radius: 30px;
    font-size: 18px;
    font-weight: 400;
    font-family: "Rubik";
    display:flex;
    align-items: center;
    height: 45px;
    img{
        margin-left: 10px;
    }
}
.BtnFilter:hover{
    background-color: #00338D !important;
    color: #ffffff !important;
    border: 1px solid #00338D !important;
}

@media(max-width:1300px){
    .BtnFilter{
        font-size: 16px;
        height: 40px;
        img{
            width: 20px;
        }
    }
}

@media(max-width:1150px){
    
}
