@import '../../Styles/variables.module.scss';

.totalCarbonPageCardStyle {
  height: 100%;
  width: 100%;
  border: 1px solid #a1a1a1;
  background-color: red !important;
  padding-left: 10px !important;
}

.totalCarbonFirstDiv {
  display: flex;
  margin-left: 77%;
}

.CardWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line {
  height: 100%;
  width: 2px;
}

.quantityStyle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
}

.quantityStyleTwo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divider {
  display: flex;
  justify-content: space-between;
  gap: 1vw;
}

.lineBtn {
  width: 0.7px;
  background-color: rgba(140, 140, 140, 1);
  height: 10vh;
}

.innerNumber {
  background: linear-gradient(to right,
      rgba(0, 51, 141, 1),
      rgba(0, 14, 39, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
  font-size: 21px;
  line-height: 24.15px;
  font-family: 'Arial';
}

.innerNumberTotal {
  background: linear-gradient(to right,
      rgba(0, 51, 141, 1),
      rgba(0, 14, 39, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 30px;
  font-family: 'Arial';
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.titleWrapper {
  color: rgba(140, 140, 140, 1);
  font-size: 11px;
  font-weight: 400;
}

.tcoStyle {
  font-family: Arial;
  font-size: 17px;
  font-weight: 700;
  line-height: 19.55px;
  letter-spacing: 0.0015em;
  text-align: center;
}

.titleHeader {
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: rgba(6, 6, 6, 1);
  white-space: nowrap;
  margin-top: 20px;
}

.leftMainWrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.leftMainWrapperTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightMainWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.EchatsStyles {
  height: 150;
  width: 150%;
}

.cardMainWrapper {
  display: flex;
  width: 100% !important;
  gap: 4vw;
  justify-content: center;
  align-items: center;
}

.pageCardWrapperScopeThree {
  min-width: 100%;
}

.gap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.gapTwo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.roseGraphWrapper {
  display: flex;
  border-radius: 1rem !important;
  min-height: 60vh;
  background-color: $primary;
  justify-content: center;
  align-items: center;
  display: flex;
}

.pageCardStyle {
  box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.25) !important;
  z-index: 3 !important;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #B6B3B2 !important;
}

// .firstRowStyleWaste{
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }

.secondRowStyleWaste {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 300px;
}

.marginTop {
  min-height: 300px !important;
  margin-top: 15px;
}

.middleRowStyleWater {
  margin-top: 15px;
  margin-bottom: 15px;
}

.wapperScopeOne {
  display: flex;
}

.totalGaugeCard {
  height: 300px !important;
  width: 100% !important;
}

.totalGaugeMarginTop {
  margin-top: 5vh !important;
}

.scopeOneLine {
  min-height: 400px !important;
  width: 100% !important;
  padding: 10px !important;
  border: 1px solid rgba(230, 230, 230, 1) !important;
  border-radius: 20px !important;
  margin-top: 15px !important;
}

.scopeOneRose {
  height: 300 !important;
  width: 100% !important;
  border-radius: 1rem !important;
  overflow: hidden !important;
}

.wasteLine {
  min-height: 400px;
  width: 30vw;
}

.wasteLineStyle {
  min-height: 400px !important;
  width: 30vw;
}

.gaugeWater {
  min-height: 350px;
  width: 100%;
}

.waterPageCard {
  height: 100%;
  width: 110%;
  border-radius: 1rem !important;
  align-items: center;
  display: flex;
  justify-content: center;
}

.titleHeading {
  padding: 0.5rem;
  color: rgba(6, 6, 6, 1);
  font-weight: 400;
  font-size: 16px !important;
  line-height: 17.25px;
}

.targetVsActual {
  color: rgba(6, 6, 6, 1);
  font-weight: 400;
  font-size: 16px !important;
  line-height: 17.25px;

}

.totalLineChart {
  height: 400 !important;
  width: 50vw !important;
  margin-top: 5vh !important;
  border-radius: 1rem !important;
  padding: 1vh !important;
  border-radius: 1px solid rgba(230, 230, 230, 1);
}

.tc2Style {
  font-weight: 400;
  font-size: 17px;
  font-family: $font-stack-primary;
  margin-top: 1vh !important;
  margin-left: 0.5vw;
}

.totalCardTitle {
  font-family: $font-stack-primary;
  font-weight: 400;
  font-size: 16px;
  color: rgba(6, 6, 6, 1);
}

.totalRowStyle {
  min-height: 100% !important;
  padding: 8% 4%;
  border-radius: 1rem !important;
  justify-content: space-evenly;
  align-items: center;
}

.totalColStyle {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-evenly !important;
  align-items: start !important;
  margin-top: 20px;
}

.colStyleRose {
  display: flex;
  gap: 15px;
  flex-direction: column;
  width: 110% !important;
}

.mixBarChart {
  min-height: 400px !important;
}

.RoseChartStyle {
  height: 300;
  width: 50%;
  margin-top: -5vh;
}

.totalCarbonCardHeight {
  height: 160px !important;
}

.tc02eText {
  color: #888888;
  font-family: Manrope;
  font-weight: 700;
  font-size: 12px;
}

.targetText {
  font-family: Manrope;
  font-weight: 700;
  font-size: 16px;
  color: #12170F;
}

.targetVsActualText {
  font-family: Arial;
  font-weight: 600;
  font-size: 14px;
  color: #120A08;
}

.monthlyHeading {
  font-family: Arial;
  font-weight: 700;
  font-size: 22px;
  margin-top: 10px;
  color: #120A08;
  margin-left: 5px;
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  /* Styles for small laptops */

}

@media only screen and (min-width: 1281px) and (max-width: 1440px) {
  /* Styles for medium laptops */

}

@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  /* Styles for large laptops */

}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  /* Styles for small tablets */

}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* Styles for large tablets */

}