/* EmissionCard.css */
.emission-card {
    background: linear-gradient(90deg,  );
    border-radius: 8px;
    padding: 1vh;
    height: 18vh;
    overflow: hidden;
  }
  
  .vertical-line {
    border-left: 2px solid #C4C4C4;
    height: 70%;
  }
  
  .progress-text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 12px;
    font-weight: 600;
  }
  