@import "../../Styles/variables.scss";

@media (min-width: 2560px) {
   .wrapper {
      padding-bottom: 22px;
      font-size: 30px;
      color: $primary;
      font-weight: 700;
      font-family: $font-stack-primary;
      line-height: 26px;
      min-width: 100% !important;
      padding-top: 34px;
      // padding-left: 2%;
      background-color: rgba(250, 249, 255, 1);
      z-index: 0;
      font-family: Arial, sans-serif;
   }
}

@media (min-width: 1921px) and (max-width: 2559px) {
   .wrapper {
      padding-bottom: 22px;
      font-size: 28px;
      color: $primary;
      min-width: 100% !important;
      font-weight: 700;
      font-family: $font-stack-primary;
      line-height: 26px;
      padding-top: 34px;
      // padding-left: 2%;
      background-color: rgba(250, 249, 255, 1);
      z-index: 0;
      font-family: Arial, sans-serif;
   }

}

@media (min-width: 1601px) and (max-width: 1920px) {
   .wrapper {
      padding-bottom: 20px;
      font-size: 24px;
      color: $primary;
      font-weight: 700;
      min-width: 100% !important;
      font-family: $font-stack-primary;
      // padding-left: 2%;
      line-height: 24px;
      padding-top: 32px;
      background-color: rgba(250, 249, 255, 1);
      z-index: 0;
      font-family: Arial, sans-serif;
   }
}

@media (min-width: 1201px) and (max-width: 1600px) {
   .wrapper {
      padding-bottom: 18px;
      font-size: 22px;
      // padding-left: 2%;
      color: $primary;
      min-width: 100% !important;
      font-weight: 700;
      font-family: $font-stack-primary;
      line-height: 22px;
      padding-top: 30px;
      background-color: rgba(250, 249, 255, 1);
      z-index: 0;
      font-family: Arial, sans-serif;
   }
}

@media (min-width: 992px) and (max-width: 1200px) {
   .wrapper {
      padding-bottom: 16px;
      font-size: 20px;
      color: $primary;
      min-width: 100% !important;
      font-weight: 700;
      font-family: $font-stack-primary;
      line-height: 20px;
      padding-top: 28px;
      // padding-left: 2%;
      background-color: rgba(250, 249, 255, 1);
      z-index: 0;
      font-family: Arial, sans-serif;
   }
}

@media (min-width: 769px) and (max-width: 991px) {
   .wrapper {
      padding-bottom: 14px;
      min-width: 100% !important;
      font-size: 18px;
      color: $primary;
      // margin-left: 2%;
      font-weight: 700;
      font-family: $font-stack-primary;
      line-height: 18px;
      padding-top: 26px;
      background-color: rgba(250, 249, 255, 1);
      z-index: 0;
      font-family: Arial, sans-serif;
   }
}

@media (max-width: 768px) {
   .wrapper {
      padding-bottom: 12px;
      font-size: 16px;
      color: $primary;
      // padding-left: 2%;
      min-width: 100% !important;
      font-weight: 700;
      font-family: $font-stack-primary;
      line-height: 16px;
      padding-top: 24px;
      background-color: rgba(250, 249, 255, 1);
      z-index: 0;
      font-family: Arial, sans-serif;
   }
}

.lastTabColor{
   text-decoration: none;
   color: $gray;
}

.otherTabColor{
   text-decoration: none;
   color: inherit;
}

.lastTabColor:hover{
   text-decoration: none;
   color: $gray;
}

.otherTabColor:hover{
   text-decoration: none;
   color: inherit;
}
.textColor{
   color: $gray;
}
.textColorMain{
   color: $primary;
}