@import '../../../src/Styles/variables.module.scss';

.CountCardComponentTitle {
  font-size: 12px;
  font-family: $primary;
  font-weight: 400;
  color: #767676;
}
.CountCardComponentTotal {
  font-size: 22px;
  font-family: $font-stack-primary;
  font-weight: 600;
  color: #333333;
  margin: 0;
}

.secondaryHeading {
  font-size: 22px;
  font-family: $font-stack-primary;
  font-weight: 400;
  color: #333333;
  margin: 0;
}

.headingDesc {
  font-size: 14px;
  font-family: $font-stack-primary;
  font-weight: 400;
  color: #767676;
}
.formTitle {
  font-size: 14px;
  font-family: $font-stack-primary;
  font-weight: 600;
  color: $primary;
}

.CountCardComponentWrap {
  background-color: #f3f8ff;
  min-height: 140px !important;
  min-width: 150px;
  padding: 5px;
  display: flex;
  align-items: center;
}

@media (min-width: 2560px) {
  .CountCardComponentWrap {
    min-height: 110px;
    min-width: 160px;
  }

  .CountCardComponentImage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px !important ;
    width: 250px !important;
  }

  .CountCardComponentTitle {
    font-size: 26px;
    font-family: $primary;
    font-weight: 400;
    color: #767676;
  }

  .CountCardComponentTotal {
    font-size: 26px;
    font-family: $font-stack-primary;
    font-weight: 600;
    color: #333333;
    margin: 0;
  }
}

@media (min-width: 1921px) and (max-width: 2559px) {
  .CountCardComponentWrap {
    min-height: 110px;
    min-width: 150px;
    padding: 10px !important;
  }

  .CountCardComponentTitle {
    font-size: 24px;
    font-family: $primary;
    font-weight: 400;
    color: #767676;
  }

  .CountCardComponentImage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
  }

  .CountCardComponentTotal {
    font-size: 20px;
    font-family: $font-stack-primary;
    font-weight: 600;
    color: #333333;
    margin: 0;
  }
}

@media (min-width: 1601px) and (max-width: 1920px) {
  .CountCardComponentWrap {
    min-height: 110px;
    min-width: 150px;
    padding: 8px !important;
  }

  .CountCardComponentTitle {
    font-size: 18px;
    font-family: $primary;
    font-weight: 400;
    color: #767676;
  }

  .CountCardComponentImage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 250px;
  }

  .CountCardComponentTotal {
    font-size: 18px;
    font-family: $font-stack-primary;
    font-weight: 600;
    color: #333333;
    margin: 0;
  }
}

@media (min-width: 1201px) and (max-width: 1600px) {
  .CountCardComponentWrap {
    min-width: 150px;
    min-height: 110px;
  }

  .CountCardComponentTitle {
    font-size: 14px;
    font-family: $primary;
    font-weight: 400;
    color: #767676;
  }

  .CountCardComponentImage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 250px;
  }

  .CountCardComponentTotal {
    font-size: 14px;
    font-family: $font-stack-primary;
    font-weight: 600;
    color: #333333;
    margin: 0;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .CountCardComponentWrap {
    min-height: 100px;
    padding: 5px !important;
    min-width: 150px;
  }

  .CountCardComponentTitle {
    font-size: 12px;
    font-family: $primary;
    font-weight: 400;
    color: #767676;
  }

  .CountCardComponentImage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
  }

  .CountCardComponentTotal {
    font-size: 12px;
    font-family: $font-stack-primary;
    font-weight: 600;
    color: #333333;
    margin: 0;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  .CountCardComponentWrap {
    min-height: 80px;
    min-width: 150px;
    padding: 10px !important;
  }

  .CountCardComponentTotal {
    font-size: 10px;
    font-family: $font-stack-primary;
    font-weight: 600;
    color: #333333;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .CountCardComponentWrap {
    min-height: 70px;
    min-width: 150px;
    padding: 8px !important;
  }

  .CountCardComponentImage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
  }

  .CountCardComponentTotal {
    font-size: 12px;
    font-family: $font-stack-primary;
    font-weight: 600;
    color: #333333;
    margin: 0;
  }
}
