@import '../../Styles/variables.module.scss';

.reportHead {
  color: $primary;
  font-family: $font-stack-primary !important;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
}

.reportTitle {
  color: $primary;
  font-family: $font-stack-primary;
  font-size: 16px;
  font-weight: 700;
  line-height: 26.58px;
}

.subTitle {
  font-family: $font-stack-secondary;
  font-size: 14px;
  line-height: 18.96px;
  font-weight: 500;
  color: #333333;
}

.subInTitle {
  font-family: $font-stack-secondary;
  font-size: 14px;
  line-height: 18.96px;
  font-weight: 400;
  color: #333333;
}

.collapseTitle {
  font-family: $font-stack-secondary;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.33px;
  text-align: left;
  color: #333333 !important;
}

.container {
  min-height: 780px;
  margin-left: 0px;
}

.generalDisclosure {
  font-size: 20px;
  font-weight: bold;
  color: $primary;
}

.organizationDetails {
  font-size: 20px;
  font-weight: bold;
  // margin-left: 10px;
  color: $primary;
}

.progressCircle {
  display: flex;
  justify-content: center;
  // margin-bottom: 10px;
  font-weight: bold;
  align-items: center;
}

.progressCircleText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.cardStyle {
  background-color: #f8fdff;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  padding: 26px 21px;
  margin: 0 !important;
}

.cardContainer {
  background-color: #f8fdff;
  height: 21%;
  display: flex;
  align-items: center;
  // width: 80%;
}

.filterInput {
  width: 100%;
  margin-top: 40px;
}

.questionList {
  // width: 80%;
  margin-top: 20px;
  list-style: none;
  max-height: 400px;
  // overflow: auto;
  overflow-x: hidden;
  list-style: none !important;
  cursor: pointer;
}

.questionList::-webkit-scrollbar {
  width: 10px;
  height: 50px !important;
}

.questionList::-webkit-scrollbar-track {
  background-color: #e7ebf4;
}

.questionList::-webkit-scrollbar-thumb {
  background-color: #00338d;
  border-radius: 10px;
}

.completed {
  color: green;
  // margin-right: 10px;
  border-radius: 10px;
}

.key {
  float: right;
  font-weight: bold;
}

.questionContainer {
  // padding: 20px;
  padding-top: 0px;
  margin-top: 10px;
  max-height: 600px;
  overflow-y: auto;
  width: 100%;
  overflow-x: hidden;
}

.questionHeader {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 5px;
}

.qstnStatus {
  display: flex;
}

.text {
  font-weight: normal;
}

.disclosureContainer {
  height: 100%;
  overflow: auto;
  margin-top: 20px;
}

.mt15 {
  margin-top: 15px;
}

.mt10Minus {
  margin-top: -10px;
}

.mt30 {
  margin-top: 30px;
}

.mt25 {
  margin-top: 25px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.checkedDiv {
  background: #00338d;
  border-radius: 50%;
  color: #fff;
  position: relative;
  left: 4px;
}

.textArea {
  color: #000;
  padding-top: 15px;
  line-height: 1.5;
  padding-right: 40px;
}

.cardStatus {
  position: relative;
  top: 0px;
  height: 60px;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.radioGrp {
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  height: 100px;
}

.PrimaryButton {
  background-color: $primary;
  height: 44px;
  width: 221px;

  :hover {
    background-color: $primary;
  }
}

.primaryBtnDisabled {
  background-color: '#B3C2DDf0';
  color: '#fff';
  border-color: '#d9d9d9';
  height: 44px;
  width: 221px;
}

.SecondaryButton {
  color: #b3c2dd;
  height: 44px;
  width: 221px;
  font-weight: bold;
}

.SecondaryButton:hover {
  color: #b3c2dd !important;
}

.badge {
  padding: 0.4em 0.6em;
  border-radius: 50%;
  min-width: 25px;
  text-align: center;
}

.defaultBadge {
  background-color: #00338d !important;
  color: white;
  padding: 0.4em 0.6em;
  border-radius: 50%;
  min-width: 30px;
  min-height: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 12px;
  justify-content: center;
}

.selectedBadge {
  background-color: #3cc68a !important;
  color: white;
  padding: 0.4em 0.6em;
  border-radius: 50%;
  min-width: 30px;
  min-height: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radioButon {
  margin: 5px;
  margin-top: 10px;
  display: grid;
  gap: 20px;
}

.footer {
  font-size: 14px;
  margin-bottom: 20px;
  list-style: none;

  .footerLinks {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    list-style: none;
    text-decoration: none;
    color: #5c5c5c;
  }

  .footerLink:hover {
    text-decoration: underline;
    color: #00338d !important;
  }
}

.footerRights {
  color: #a3aed0;
}

.collaborate {
  color: #00338d;
  margin-bottom: 12px;
  font-weight: bold;
}

.collaborate:hover {
  color: #00338d !important;
}

.titleBorderCard {
  // border: 1px solid #C0C0C0;
  /* Border color */
  border-radius: 8px;
  padding: 20px;
  background-color: white;
}

.cardTitle {
  position: absolute;
  top: -8px;
  left: 33%;
  transform: translateX(-35%);
  background-color: #ffffff;
  padding: 0 10px;
  font-size: 18px;
  margin: 0;
  font-size: 14px;
}

.cardContent {
  [class~='ant-row-center'] {
    justify-content: left !important;
  }
}

.question_no_style {
  border: 3px solid #ffffff;
  color: #ffffff;
  width: 100px;
  height: 50px;
  cursor: pointer;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
  margin-bottom: 0px !important;
  border-radius: 4px !important;
}

.display_category {
  display: none !important;
}

.question_pending {
  background: #f6aa37;
  color: white;
  width: 50px;
  margin-bottom: 0px !important;
  height: 50px;
  border-radius: 50%;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  border: 1px solid #f6aa37;
}

// .outer_style {
//   border-radius: 4px !important;
//   margin-bottom: 0px !important;
// }

.question_no_style_active {
  // border: 1px solid $primary;
  // border: 3px solid #ffffff;
  // color: white;
  // width: 100px;
  // height: 50px;
  // border-radius: 4px !important;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // cursor: pointer;
  // text-align: center;
  // font-weight: 700;
  // width: 100%;
  border: 3px solid #ffffff;
  color: #ffffff;
  width: 100px;
  height: 50px;
  cursor: pointer;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
  margin-bottom: 0px !important;
  border-radius: 4px !important;
}

.ass_question {
  font-family: $font-stack-primary;
  font-size: 20px;
}

.attemptedQstn {
  color: #fff;
  width: 100px;
  height: 50px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  margin-bottom: 0px !important;
}

.unAttemptedQstn {
  color: #fff;
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
}

:where(.css-dev-only-do-not-override-1xg9z9n).ant-input-outlined.ant-input-disabled,
:where(.css-dev-only-do-not-override-1xg9z9n).ant-input-outlined[disabled] {
  color: #000;
}

.textAreaStyle {
  color: #000;
}

.collaboratorContainer {
  margin-right: -5%;
  font-size: '14px';
  color: #5c5c5c;
  font-weight: 600;
}

.collaboratorText {
  display: flex !important;
  align-items: center !important;
  gap: 4px !important;
  margin-bottom: 4px !important;
}

.circleStyle {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
}

.circleSuffix {
  font-size: 16px;
  line-height: 21.2px;
  font-weight: 500;
}

.resizableCol {
  resize: horizontal;
  margin-top: 15px;
  // overflow: auto;
}

.formSaveDraft {
  height: 40px;
  color: #333 !important;
  font-size: 18px;
  background: #dadcdf !important;
  color: $white !important;
}

.sendIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 30px;
  color: #b2b2b2;
}

.topBarBtnStyle {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.statusConverterText {
  display: flex;
  gap: 10px;
  font-size: 18px !important;
  font-weight: 400 !important;
}

.commentBoxTitle {
  font-size: 21px;
  font-weight: 700;
  line-height: 21.26px;
  color: #060606;
}

.commentHistoryContainer {
  width: 100%;
  margin-top: 20px;
  max-height: 250px;
  overflow: auto;
  padding: 20px 0px;
  gap: 10px;
  border-bottom: 1px solid #e6e6e6;
}

.commentedBy {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: #333333;
}

.commentedMsg {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #333333;
}

.commentedDate {
  font-size: 12px;
  line-height: 14.22px;
  font-weight: 400;
  color: #a0a0a0;
}

.commentsLogo {
  font-family: 'Rubik', sans-serif;
  border: 2px solid #00338d;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #00338d;
  font-size: 18px;
}

.summaryText {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  color: #5c5c5c;
  text-align: center;
  display: flex;
  justify-content: center;
}

.summarySecondaryText {
  font-size: 14px;
  font-weight: 400;
  line-height: 18.61px;
  color: #5c5c5c;
  text-align: center;
}

.listQstnStyle {
  display: flex;
  justify-content: end;
}

.renderQstnStyle {
  margin-block: 10px;
}

.listQstnMargin {
  margin-bottom: 6px;
}

.pageCardStyle {
  box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.25) !important;
  z-index: 3 !important;
  margin-top: 10px;
  border-radius: 10px;
}