:where(.css-dev-only-do-not-override-1xg9z9n).ant-select-dropdown
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled)
  .ant-select-item-option-state {
  color: none !important;
  display: none !important;
}

.custom-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.custom-pagination .page-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin: 0 4px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  cursor: pointer;
}

.custom-pagination .page-item.active {
  background-color: #00247d;
  color: #fff;
  border: none;
}

.custom-pagination .page-item.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.custom-pagination .arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  color: #00247d; 
  cursor: pointer;
  margin: 0 4px;
}

.custom-pagination .arrow.disabled {
  cursor: not-allowed;
  opacity: 0.6;
  color: #6181B8;
}

.custom-pagination .arrow svg {
  width: 16px;
  height: 16px;
}

:where(.css-dev-only-do-not-override-1xg9z9n).ant-collapse .ant-collapse-content>.ant-collapse-content-box {
  padding: 0px !important;
}

:where(.css-dev-only-do-not-override-1xg9z9n).ant-collapse>.ant-collapse-item >.ant-collapse-header {
  padding: 12px 0px !important;
}

:where(.css-dev-only-do-not-override-1xg9z9n).ant-select-multiple .ant-select-selection-placeholder {
  color: black;
}

.rc-virtual-list-scrollbar-thumb{
  background-color: #00247d !important;
  width: 5px !important;
  margin-left: 5px;
}

:where(.css-dev-only-do-not-override-1xg9z9n).ant-list-split .ant-list-item {
  border-block-end: none;
}

