.Form-container {
    background-color: #fff;
    padding: 20px;
}

/* .header-row {
    margin-bottom: 10px;
} */

/* .subheader-row {
    margin-top: 20px;
    margin-bottom: 10px;
} */

.data-row {
    margin-top: 10px;
}

.genderCategory, .ageCategory {
    display: flex;
    gap: 10px;
}

.gendercategory, .agecategory {
    display: flex;
    justify-content: space-between;
}

.gendercategory p, .agecategory p {
    margin: 0;
    flex: 1;
    text-align: start;
}

.employmentCategory, .genderCategory, .ageCategory {
    display: flex;
    align-items: center;
}

