@import '../../Styles/variables.module.scss';

.customBorderRadius15 {
  border-radius: 15px;
}

.customBorderLine {
  border: 1px solid #E9EEEA;
}

.customPageLayout {
  border-radius: 15px;
  border: 1px solid #B6B3B2;
  margin-left: 5px !important;
  margin-left: 5px !important;
  box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.25) !important;
}

.customfontsize21 {
  font-size: 21px;
}

.customfontsize17 {
  font-size: 17px;
}

.customTextColorGrey {
  color: #8c8c8c;
}

.globeImgDimension {
  width: 470px;
  height: 450px;
}

.w50 {
  width: 50%;
}

.fontSize36 {
  font-size: 36px;
}

.fontSize49 {
  font-size: 49px;
  font-weight: 600px;
}

.primeColor {
  color: #0D304A;
}

.lineHeight20 {
  line-height: 20px;
}

.lineHeight25 {
  line-height: 25px;
}

.lineHeight28 {
  line-height: 28px;
}

.lineHeight40 {
  line-height: 40px;
}

.lineHeight55 {
  line-height: 55px;
}

.w30 {
  width: 30%;
}

.padding10 {
  padding: 10px;
}

.padding5 {
  padding: 5px;
}

.borderRadius5 {
  border-radius: 5px;
}

.w25vw {
  width: 25vw;
}

.paddingCustomTwo {
  padding: 20px !important;
}

.font26 {
  font-size: 26px;
}

.height50 {
  height: 50px;
}

.positionRelative {
  position: relative;
}

.cursorPointer {
  cursor: pointer;
}

.padding20 {
  padding: 20px !important;
}

.w63vw {
  width: 63vw;
}

.customTextDark {
  color: #060606;
}

.customFontSize15 {
  font-size: 16px;
  font-weight: 600 !important;
}

.customMargin60 {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}

.customBoxShadow {
  box-shadow: 0px 2px 18px 0px #00000040;
}

.customBorderBottomGrey {
  border-bottom: 1px solid rgba(128, 128, 128, 0.271);
}

.customPaddingOne {
  padding: 15px 0px;
}

.font-family-esg-maturity {
  font-family: Arial;
}

.customMargin25 {
  margin-bottom: 25px;
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.customWidth90 {
  width: 90vw;
}

.cardIcon {
  color: black !important;
  transition: color 0.3s ease;
}

.cardIconBg:hover .cardIcon {
  color: #fff !important;
}

.cardIconBg:hover .cardIcon {
  color: #fff !important;
}

.cardIconBg {
  background-color: #fff;
  transition: color 0.3s ease;
}

.cardIconBg:hover {
  background-color: #036323 !important;
}

.cardIconBgActive {
  background-color: #036323 !important;
}

.cardIconBgInner {
  background-color: #fff;
  transition: color 0.3s ease;
}

.cardIconBg:hover .cardIconBgInner {
  background-color: #036323 !important;
}

.cardIconBgInnerActive {
  background-color: #036323 !important;
}

.cardIconBgInnerActive .cardFontSize {
  color: #fff !important;
  font-size: 16px !important;
  font-weight: 600 !important;
}

.cardHover {
  color: #036323 !important;
}

.cardHover:hover {
  background-color: #E9EEEA !important;
  color: #036323;
  border: 1px solid #036323;
}

.cardHover:hover .cardIconFont {
  color: #036323;
}

.cardHover:hover .cardIconBgInner {
  background-color: transparent !important;
}

.cardHover .cardFontSize {
  font-size: 16px;
  font-weight: 600 !important;
}

.startBtnAss,
.startBtnAss:hover {
  background-color: #036323 !important;
  color: #fff !important;
  font-family: 'Noto Sans', sans-serif !important;
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 24.52px;
  opacity: 0.9;
  width: 400px;
  gap: 10px;
  border-radius: 8px;
  border-color: #036323 !important;
}

.cardIconFont {
  color: #036323;
  transition: color 0.3s ease;
}

.cardIconBg:hover .cardIconFont {
  color: #fff !important;
}

.cardIconFontActive {
  color: #fff !important;
}


.cardOneMat {
  background: linear-gradient(to bottom, #0D304A, #001626);
  width: 315px;
  height: 330px;
  top: 570px;
  left: 740px;
  border-radius: 20px;
  padding: 30px 15px;
}

.cardTwoMat {
  background: linear-gradient(to bottom, #0D304A, #001626);
  width: 315px;
  height: 330px;
  top: 570px;
  left: 740px;
  border-radius: 20px;
  padding: 50px 15px;
}

.levelText {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 20px;
  margin-bottom: 15px;
}

.selectHeading {
  font-weight: 700;
  font-size: 21px;
  color: #060606;
}

.flowerImg {
  margin-bottom: 30px;
  position: relative;
  right: 53px;
}

/* Media Query for cardOneMat */
@media (max-width: 1400px) {

  .cardOneMat {
    width: 260px;
    margin-left: 20px;
  }
}