.buttonError{
    padding: 4px 28px;
    height: 44px;
    font-size: 18px;
    background: #00338D;
    border-radius: 10px;
}
.buttonError:hover{
    background: #fff !important;
    color: #00338D !important;
    border: 1px solid #00338D !important;
}
.TitleSty{
    font-size:32px !important;
    color:#00338D !important;
    padding-top:6vh !important;
    font-family:"Arial" !important;
    font-weight: 600;
}
.SubTitleSty{
    font-size:20px !important;
    font-family:"Arial" !important;
    color:#61B5DE !important;
}
.MainDiv{
    text-align:center;
    padding-top:20vh;
    background: "#f0f5ff";
    height: 100vh;
}